{% extends 'ZerebralFrontendBundle::layout.html.twig' %}
{% import "ZerebralFrontendBundle:Macro:main.html.twig" as mainPartials %}
{% import "ZerebralFrontendBundle:Macro:flashMessages.html.twig" as flashMessages %}

{% block content %}
    {% javascripts
    '@ZerebralFrontendBundle/Resources/public/js/controllers/user/profile.js'
    output='js/compiled/profile.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <div class="row-fluid profile user-profile">
        <div class="span7">
            <div class="row-fluid">
                <h2 class="span6 pull-left form-title">
                    {{ user.firstName }} {{ user.lastName }} <small>{{ user.role }}</small>
                </h2>
            </div>
            <hr/>

            {{ flashMessages.show('profile_save_success', 'success') }}
            {{ flashMessages.show('invites_send', 'success') }}

                <div class="span8 content">
                    {% if user.isStudent or user.isTeacher %}
                        {% if user.roleModel.bio %}
                            <div class="small-title">Bio</div>
                            <p>{{ user.roleModel.bio }}</p>
                        {% endif %}
                    {% else %}
                        {% if user.roleModel.notes %}
                            <div class="small-title">Notes</div>
                            <p>{{ user.roleModel.notes }}</p>
                        {% endif %}
                    {% endif %}

                    {% if user.isStudent %}
                        {% if user.roleModel.activities %}
                            <div class="small-title">Activities</div>
                            <p>{{ user.roleModel.activities }}</p>
                        {% endif %}

                        {% if user.getRoleModel().interests %}
                            <div class="small-title">Interests</div>
                            <p>{{ user.roleModel.interests }}</p>
                        {% endif %}
                    {% endif %}

                </div>

                <div class="span4 pull-right">
                    <div class="profile-avatar pull-right span12">
                        <img class="span12" src="{{ user_avatar(user) | imagine_filter('big_thumbnail') }}"/>
                    </div>
                    <div class="clearfix"></div>
                    <div class="profile-links">
                        <a href="#" rel="message-popup" userId="{{ user.id }}">Send a message</a><br/>
                        {% if is_granted('ROLE_STUDENT') %}
                            {% for parent in user.roleModel.studentGuardians %}
                                <a href="{{ path('profile_view', {id: parent.guardian.userId}) }}">{{ parent.guardian.fullName }}</a><br/>
                            {% endfor %}
                        {% endif %}
                    </div>

                </div>










        </div>
    </div>

    {{ mainPartials.composeMessagePopup() }}



{% endblock %}