{% extends 'ZerebralFrontendBundle::layout.html.twig' %}
{% import "ZerebralFrontendBundle:Macro:flashMessages.html.twig" as flashMessages %}

{% block content %}
    {% javascripts
        '@ZerebralFrontendBundle/Resources/public/js/controllers/user/profile.js'
        output='js/compiled/profile.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <div class="row-fluid profile">
        <div class="span7">
            <div class="row-fluid">
                <h2 class="span6 pull-left form-title">
                    Profile <small>edit</small>
                </h2>
            </div>
            <hr/>

            {{ flashMessages.show('profile_save_success', 'success') }}
            <form method="post" {{ form_enctype(form) }} novalidate  class="form-horizontal create-form no-left-margin">
                <div class="span8">
                    {{ form_row(form.bio, {
                        label: 'Bio',
                        form_type: 'horizontal',
                        attr: {
                            class: 'input-block-level',
                            rows: 6,
                            help_block: 'About you in <b>160</b> characters',
                        }
                    }) }}

                    {{ form_row(form.user.birthday, {
                        label: 'Birthday',
                        form_type: 'horizontal',
                        attr: {
                            class: 'birthday icon-new-calendar image-background input-small'
                        }
                    }) }}

                    {{ form_row(form.user.gender, {
                        label: 'Gender',
                        form_type: 'horizontal',
                        attr: {
                            class: 'input-small'
                        }
                    }) }}

                    {% if is_granted('ROLE_TEACHER') %}
                        {{ form_row(form.subjects, {
                        label: 'Subjects taught',
                        form_type: 'horizontal',
                        attr: {
                            class: 'input-block-level',
                            rows: 6
                        }
                        }) }}

                        {{ form_row(form.grades, {
                        label: 'Grades',
                        form_type: 'horizontal',
                        attr: {
                            class: 'input-block-level',
                            rows: 6
                        }
                        }) }}
                    {% else %}
                        {{ form_row(form.activities, {
                        label: 'Activities',
                        form_type: 'horizontal',
                        attr: {
                            class: 'input-block-level',
                            rows: 6
                        }
                        }) }}

                        {{ form_row(form.interests, {
                        label: 'Interests',
                        form_type: 'horizontal',
                        attr: {
                            class: 'input-block-level',
                            rows: 6
                        }
                        }) }}
                    {% endif %}

                </div>

                <div class="span4 pull-right">
                    {% set isValidFile = form.user.avatar.uploadedFile.vars.errors|length == 0 %}

                    <div class="profile-avatar pull-right span12">
                        <img class="span12" src="{{ user_avatar(user) | imagine_filter('big_thumbnail') }}"/>

                        <a id="show_avatar_file_field" href="#" class="{{ isValidFile ? '' : 'hidden' }}">Change your avatar</a>
                        <div class="hidden-avatar-div" style="{{ isValidFile ? '' : 'display:block;' }}">
                            {{ form_widget(form.user.avatar.uploadedFile) }}
                            {{ form_errors(form.user.avatar.uploadedFile) }}

                            {{ form_row(form.user.avatar.name) }}
                            {{ form_row(form.user.avatar.temporaryFile) }}
                            {{ form_row(form.user.avatar.mimeType) }}
                        </div>
                    </div>
                </div>


                {{ form_widget(form._token) }}

                <div class="clearfix"></div>

                <div class="form-actions">
                    <input type="submit" class="btn btn-danger" value="{% if form.vars.value.id is defined and form.vars.value.id > 0 %}Update{% else %}Create{% endif %}" />
                    <input type="reset" class="btn" value="Cancel" />
                </div>

            </form>

        </div>
        <div class="right-navbar">
            <ul class="nav">
                <li class="active"><a href="{{ path('myprofile') }}"><i class="icon-new-user"></i> Profile</a></li>
                <li><a href="#"><i class="icon-new-gears"></i>Account Settings</a></li>
                <li><a href="#"><i class="icon-new-mail"></i>Notifications</a></li>
            </ul>
        </div>
    </div>
{% endblock %}