{% macro mainBlock(notification) %}
    {% set type = notification.type %}
    {% if type == 'course_update' %}
        {{ _self.title('Course Details') }}
    {% elseif type == 'assignment_create' %}
        {{ _self.title('New Assignment') }}
    {% endif %}
    {{ _self.date(notification) }}
    {{ _self.text(notification) }}
{% endmacro %}

{% macro simpleBlock(notification) %}
    {{ _self.avatar(notification) }}
    {{ _self.text(notification) }}
{% endmacro %}

{% macro courseUpdate(notification) %}
    <b>{{ notification.userRelatedByCreatedBy ? notification.userRelatedByCreatedBy.fullName : '' }}</b> has updated the course details for <b>{{ notification.course.name }}</b>
{% endmacro %}

{% macro assignmentCreate(notification) %}
    <b>{{ notification.userRelatedByCreatedBy ? notification.userRelatedByCreatedBy.fullName : '' }}</b> has posted a new assignment <b>{{ notification.assignment.name }}</b> in <b>{{ notification.course.name }}</b>
{% endmacro %}

{% macro assignmentUpdate(notification) %}
    <b>{{ notification.userRelatedByCreatedBy ? notification.userRelatedByCreatedBy.fullName : '' }}</b> has updated the assignment details for <b>{{ notification.assignment.name }}</b>
{% endmacro %}

{% macro materialCreate(notification) %}
    <b>{{ notification.userRelatedByCreatedBy ? notification.userRelatedByCreatedBy.fullName : '' }}</b> has uploaded a new file to <b>{{ notification.course.name }}</b>
{% endmacro %}

{% macro assignmentFileCreate(notification) %}
    <b>{{ notification.userRelatedByCreatedBy ? notification.userRelatedByCreatedBy.fullName : '' }}</b> has added a new file to <b>{{ notification.assignment.name }}</b>
{% endmacro %}

{% macro attendanceStatus(notification) %}
    <b>{{ notification.userRelatedByCreatedBy ? notification.userRelatedByCreatedBy.fullName : '' }}</b> has marked you as {{ notification.getParam('status') }} for <b>{{ notification.course.name }}</b> at {{ notification.getParam('date') | date('m/d/Y') }}
{% endmacro %}

{% macro courseFeedComment(notification) %}
    <b>{{ notification.userRelatedByCreatedBy ? notification.userRelatedByCreatedBy.fullName : '' }}</b> has posted a new comment in {{ notification.course.name }}
{% endmacro %}

{% macro title(text) %}
    <h3>{{ text }}</h3>
{% endmacro %}

{% macro text(notification) %}
    {% set type = notification.type %}
    <p>
    {% if type == 'course_update' %}
        {{ _self.courseUpdate(notification) }}
    {% elseif type == 'assignment_create' %}
        {{ _self.assignmentCreate(notification) }}
    {% elseif type == 'assignment_update' %}
         {{ _self.assignmentUpdate(notification) }}
    {% elseif type == 'material_create' %}
        {{ _self.materialCreate(notification) }}
    {% elseif type == 'assignment_file_create' %}
        {{ _self.assignmentFileCreate(notification) }}
    {% elseif type == 'attendance_status' %}
        {{ _self.attendanceStatus(notification) }}
    {% elseif type == 'course_feed_comment_create' %}
        {{ _self.courseFeedComment(notification) }}
    {% endif %}
    </p>
{% endmacro %}

{% macro date(notification) %}
    <div class="date">
        {{ time_diff(notification.createdAt) }}
    </div>
{% endmacro %}

{% macro avatar(notification) %}
    <img class="avatar rounded" src="{{ get_file_storage_link(notification.userRelatedByCreatedBy.getAvatarFile()) | imagine_filter('thumbnail') }}"/>
{% endmacro %}




