{% extends 'ZerebralFrontendBundle::blueLayout.html.twig' %}

{% block header %}
    <div class="navbar navbar-inverse navbar-fixed-top signup">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="{{ path('dashboard') }}"></a>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container top-center signin-container">
        <form class="form-signin" action="{{ path("_security_check") }}" method="post">
            <label>Email Address:</label>
            <input type="text" placeholder="Email Address" name="_username" value="{{ last_username }}" tabindex="1"/>

            <label>Password: <a href="#" class="pull-right" tabindex="4"> Forgot your password?</a></label>
            <input type="password" placeholder="Password" name="_password" tabindex="2"/>

            <div class="clearfix"></div>
            {% if error %}
                <div class="alert alert-error">
                    {% if last_username|length == 0 %}
                        No username? That's not possible
                    {% else %}
                        {#Sorry, that username or password isn't right. But you can <a href="#">recover your password<a/>.#}
                        {{ error.message }}
                    {% endif %}
                </div>
            {% endif %}
            {% if passwordRestored %}
                <div class="alert alert-success">Password successfully changed! You can now access your account.</div>
            {% endif %}
            <input class="btn btn-primary span12" type="submit" value="Sign in" tabindex="3"/>
        </form>
        <a href="{{ path('signup') }}" class="signup">Create a new Zerebral account</a>
    </div>
{% endblock %}
