{% extends 'ZerebralFrontendBundle::blueLayout.html.twig' %}

{% block header %}
    <div class="navbar navbar-inverse navbar-fixed-top signup">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="{{ path('dashboard') }}"></a>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container top-center signin-container">
        <form action="{{ path('_reset_password', {'code': code}) }}" method="post" {{ form_enctype(form) }} novalidate  class="form-signin form-signup">
            <div class="row">
                {{ form_row(form.plainPassword, {'label': 'Choose a Password:', 'placeholder': 'Choose a Password', 'form_type': 'horizontal', 'group_size': 3}) }}
                {{ form_row(form.passwordConfirmation, {'label': 'Confirm Password:', 'placeholder': 'Confirm Password', 'form_type': 'horizontal', 'group_size': 3}) }}
            </div>

            <input class="btn btn-primary" type="submit" value="Change password" />

        </form>
        <a href="{{ path('signup') }}" class="signup">Create a new Zerebral account</a>
    </div>
{% endblock %}
