{% extends 'ZerebralFrontendBundle::blueLayout.html.twig' %}

{% form_theme form _self %}

{% block choice_widget_expanded %}
{% spaceless %}
    {% set child_vars = {'attr': attr, 'label_attr': {'class': 'inline'}, 'disabledOptions': disabledOptions|default([])} %}
    {% for child in form %}
        <div class="span2">
            {{ form_label(child, label, child_vars) }}
        </div>
    {% endfor %}
{% endspaceless %}
{% endblock choice_widget_expanded %}

{% block header %}
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="{{ path('dashboard') }}"></a>
            </div>
        </div>
    </div>
{% endblock %}


{% block content %}
    {% javascripts
        '@ZerebralFrontendBundle/Resources/public/js/controllers/user/signup.js'
        output='js/compiled/signup.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <div class="container top-center">
        <div class="row">
            <div class="span7">
                <form action="{{ path('signup') }}" method="post" {{ form_enctype(form) }} novalidate  class="form-signin form-signup">
                    <div class="row radiobox">
                        {{ form_row(form.role, {'label': '', 'form_type': 'inline', 'disabledOptions': ['parent'] }) }}
                    </div>
                    <hr class="separator"/>

                    {{ form_row(form.email, {'label': 'What is your email address?', 'form_type': 'horizontal', 'placeholder': 'Email Address'}) }}

                    <div class="row">
                        {{ form_row(form.firstName, {'label': 'First Name:', 'placeholder': 'First Name', 'form_type': 'horizontal', 'group_size': 3}) }}
                        {{ form_row(form.lastName, {'label': 'Last Name:', 'placeholder': 'Last Name', 'form_type': 'horizontal', 'group_size': 3}) }}
                    </div>

                    <div class="row">
                        {{ form_row(form.plainPassword, {'label': 'Choose a Password:', 'placeholder': 'Choose a Password', 'form_type': 'horizontal', 'group_size': 3}) }}
                        {{ form_row(form.passwordConfirmation, {'label': 'Confirm Password:', 'placeholder': 'Confirm Password', 'form_type': 'horizontal', 'group_size': 3}) }}
                    </div>

                    {{ form_rest(form) }}

                    <input class="btn btn-primary" type="submit" value="Create an account" />

                </form>
            </div>
            <div class="span4 signup-subpane">
                <div class="row">
                    <div class="span1">
                        <i class="icon-teacher"></i>
                    </div>
                    <div class="span3">
                        <h4>Teachers</h4>
                        <p>
                            can reduce their workload due to the increased ease of classroom management, grading, and collaboration which our technology accomplishes more efficiently than ever before.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="span1">
                        <i class="icon-student"></i>
                    </div>
                    <div class="span3">
                        <h4>Students</h4>
                        <p>can thrive in familiar social environment, engaging each other with safe social networking tools, class discussions, easy homework submission, and file storage for large projects.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="span1">
                        <i class="icon-teacher"></i>
                    </div>
                    <div class="span3">
                        <h4>Parents</h4>
                        <p>
                            can reduce their workload due to the increased ease of classroom management, grading, and collaboration which our technology accomplishes more efficiently than ever before.
                        </p>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

