{% macro assignment_details_feed(feedCommentForm, feedItem) %}
    <div class="assignment-details-feed" id="assignmentFeed">
    <div class="feed-comment-alert-block alert alert-block alert-error" style="display: none;">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Oops, it seems we have errors here:</strong>
        <ul class="alert-errors">

        </ul>
    </div>
    <div class="feed-comment-form">
        <form id="ajaxFeedCommentForm" method="post" {{ form_enctype(feedCommentForm) }} action="{{ path('ajax_feed_add_comment', {feedItemId: feedItem.id }) }}">
            <div class="control-group">
                <textarea class="feed-comment-textarea" name="feed_comment[feedContent][text]" placeholder="Leave a new comment" ></textarea>
            </div>
            <div class="feed-comment-form-controls">
                <div class="attached-link">
                    <div class="control-group">
                        <input class="attached-link-field" type="text" name="feed_comment[feedContent][linkUrl]" placeholder="Enter link..." />
                    </div>
                    <input class="comment-type" type="hidden" name="feed_comment[feedContent][type]" value="text" />
                    <div class="attached-link-delete" style="">
                        <i class="icon-small-trash-bin"></i> <a class="gray" href="#">Delete</a>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="buttons">
                    <input type="submit" class="btn post-button" value="Post message" />
                    <div class="attach-links">
                        <a class="attach-link" data-link-type="image" href="#"><img src="/img/feed_image_icon.png" alt="Add Image" /></a>
                        <a class="attach-link" data-link-type="video" href="#"><img src="/img/feed_video_icon.png" alt="Add Video" /></a>
                        <a class="attach-link" data-link-type="website" href="#"><img src="/img/feed_website_icon.png" alt="Add Link" /></a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    {% set comments = feedItem.feedComments %}
    {% set lastCommentId = (comments|length > 0) ? comments.last.id : 0 %}
    <div class="comments" data-last-comment-id="{{ lastCommentId }}" data-server-time="{{ "now"|date("Y-m-d H:i:s") }}" data-checkout-url="{{ path('ajax_checkout_comments', {feedItemId: feedItem.id}) }}">
        {% for comment in comments %}
            {% include "ZerebralFrontendBundle:Feed:feedCommentBlock.html.twig" with {'feedType': 'assignment'} %}
        {% else %}
        <div class="empty"> No comments yet. Be the first to leave one!</div>
        {% endfor %}
    </div>
    </div>
{% endmacro %}

<!--      CourseDetails   --->


{% macro course_details_feed(feedItemForm, feedItems, feedItemsCount, course = null) %}
    {% import _self as self %}
    {% set isGlobal = (course is null) ? true : false %}
    <div class="course-details-feed">
    <div class="feed-item-alert-block alert alert-block alert-error" style="display: none;">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Oops, it seems we have errors here:</strong>
        <ul class="alert-errors">

        </ul>
    </div>
    <div class="feed-item-form">
        <form id="ajaxFeedItemForm" method="post" {{ form_enctype(feedItemForm) }} action="{{ path('ajax_add_feed_item') }}">
            <div class="control-group">
                <textarea class="feed-item-textarea" name="feed_item[feedContent][text]" placeholder="Share what's new..." ></textarea>
            </div>
            <div class="feed-item-form-controls">
                <div class="attached-link">
                    <div class="control-group">
                        <input class="attached-link-field" type="text" name="feed_item[feedContent][linkUrl]" placeholder="Enter link..." />
                    </div>
                    <input class="comment-type" type="hidden" name="feed_item[feedContent][type]" value="text" />
                    {% if course is not null%}
                        <input class="comment-course-id" type="hidden" name="feed_item[courseId]" value="{{ course.id }}" />
                    {% endif %}
                    <div class="attached-link-delete" style="">
                        <i class="icon-small-trash-bin"></i> <a class="gray" href="#">Delete</a>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="buttons">
                    <input type="submit" class="btn post-button" value="Post message" />&nbsp;&nbsp;&nbsp;<a href="#" class="cancel-link">Cancel</a>
                    <div class="attach-links">
                        <a class="attach-link" data-link-type="image" href="#"><img src="/img/feed_image_icon.png" alt="Add Image" /></a>
                        <a class="attach-link" data-link-type="video" href="#"><img src="/img/feed_video_icon.png" alt="Add Video" /></a>
                        <a class="attach-link" data-link-type="website" href="#"><img src="/img/feed_website_icon.png" alt="Add Link" /></a>
                    </div>
                </div>
            </div>
            {{ form_widget(feedItemForm._token) }}
        </form>
    </div>
    <hr />
    {% set lastItemId = (feedItems|length > 0) ? feedItems.first.id : 0 %}
    {% set checkoutUrl = (course is null) ? path('ajax_checkout_items') : path('ajax_checkout_items', {courseId: course.id})%}

    <div class="feed-items" data-server-time="{{ "now"|date("Y-m-d H:i:s") }}" data-last-item-id="{{ lastItemId }}" data-checkout-url="{{ checkoutUrl }}" >
        {% for feedItem in feedItems %}
        {% include "ZerebralFrontendBundle:Feed:feedItemBlock.html.twig" %}
        {% else %}
            <div class="empty">There are no posts to show right now</div>
        {% endfor %}
        {% if feedItemsCount > feedItems|length %}
            {% set loadMoreItemsPath = (course is null) ? path('ajax_load_more_items') : path('ajax_load_more_items', {courseId: course.id})%}
            <div class="load-more-items-div">
                <a class="load-more-items" href="{{ loadMoreItemsPath }}" data-total-count="{{ feedItemsCount }}" data-loaded-count="{{ feedItems|length }}" data-last-item-id="{{ feedItems.last.id }}"><i class="icon-repeat"></i>Show more updates </a>
            </div>
        {% endif %}
    </div>
    </div>
{% endmacro %}


