{% macro course_details_comment_block(comment) %}
    <div class="comment {% if app.user.id == comment.user.id %} is_author {% endif %}">
        <div class="avatar"><img class="rounded" src="{{ get_file_storage_link(comment.user.getAvatarFile()) | imagine_filter('small_thumbnail') }}" /></div>
        <div class="content"><b>{{ comment.user.fullName }}</b>&nbsp;{{ comment.feedContent.text }}</div>
        <div class="timestamp">
            <span class="gray">{{ time_diff(comment.createdAt) }}</span>
        </div>
        {% if app.user.id == comment.user.id %}<a href="{{ path('ajax_feed_remove_comment', {feedCommentId: comment.id}) }}" class="gray delete-link delete-comment"><i class="icon-small-trash-bin"></i>Delete</a>{% endif %}
        <div class="clearfix"></div>
    </div>
{% endmacro %}

{% macro assignment_details_comment_block(comment) %}
    <div class="comment">
        <div class="avatar"><img class="rounded" src="{{ get_file_storage_link(comment.user.getAvatarFile()) | imagine_filter('thumbnail') }}" /> </div>
        <div class="content">
            <div class="author {% if app.user.id == comment.user.id %} is_author {% endif %}">
                {{ comment.user.fullName }} <span class="gray timestamp">{{ time_diff(comment.createdAt) }}</span>
                {% if app.user.id == comment.user.id %}<a href="{{ path('ajax_feed_remove_comment', {feedCommentId: comment.id}) }}" class="gray delete-link delete-comment"><i class="icon-small-trash-bin"></i>Delete</a>{% endif %}
            </div>
            <div class="text">{{ comment.feedContent.text }}</div>
            <div class="link"><a href="{{ comment.feedContent.linkUrl }}">{{ comment.feedContent.linkUrl }}</a></div>
        </div>
    </div>
{% endmacro %}

{% import _self as self %}
{% if feedType == 'course' %}
    {{ self.course_details_comment_block(comment) }}
{% else %}
    {{ self.assignment_details_comment_block(comment) }}
{% endif %}