{% macro feed_item_assignment_block(feedItem) %}
    <div class="author">{{ feedItem.user.fullName }}<span class="gray"> created new assignment </span><a style="color: #333333;" href="{{ path('assignment_view', {id: feedItem.assignment.id}) }}">{{ feedItem.assignment.name }}</a> <span class="gray timestamp" data-date="{{ feedItem.createdAt.format('Y-m-d H:i:s') }}">{{ time_diff(feedItem.createdAt) }}</span></div>
    <div class="text">
        {% autoescape 'html' %}
        {{ feedItem.assignment.description|striptags|slice(0, 100) }}
        {% endautoescape %}
    </div>
{% endmacro %}

{% macro feed_item_text_block(feedItem) %}
    <div class="author">{{ feedItem.user.fullName }}<span class="gray timestamp" data-date="{{ feedItem.createdAt.format('Y-m-d H:i:s') }}">{{ time_diff(feedItem.createdAt) }}</span></div>
    <div class="text">
        {{ feedItem.feedContent.text }}
    </div>
    <div class="link"><a href=""></a></div>
{% endmacro %}


{% import _self as self %}
<div class="feed-item">
    <div class="avatar"><img class="rounded" src="{{ get_file_storage_link(feedItem.user.getAvatarFile()) | imagine_filter('thumbnail') }}"></div>
    <div class="content {% if app.user.id == feedItem.user.id and feedItem.feedContent.type != 'assignment' %} is_author {% endif %}">
        {% if app.user.id == feedItem.user.id %}<a href="{{ path('ajax_feed_remove_feed_item', {feedItemId: feedItem.id}) }}" class="gray delete-link delete-feed-item"><i class="icon-small-trash-bin"></i>Delete</a>{% endif %}
        {% if feedItem.feedContent.type == 'assignment' %}
            {{ self.feed_item_assignment_block(feedItem) }}
        {% else %}
            {{ self.feed_item_text_block(feedItem) }}
        {% endif %}
    </div>
    <div class="comments-button"><i class="icon-comment"></i> <a class="show-comment-form-link" data-comments-count="{{ feedItem.feedComments|length }}" href="#">Comment (<span>{{ feedItem.feedComments|length }}</span>)</a></div>
    <div class="comments">
        {% set lastFeedComments = feedItem.lastFeedComments %}
        {% if lastFeedComments|length < feedItem.feedComments|length %}
            <div class="comment">
                Load more
            </div>
        {% endif %}
        {% for comment in lastFeedComments %}
            {% include "ZerebralFrontendBundle:Feed:feedCommentBlock.html.twig" with {'feedType': 'course'} %}
        {% endfor %}

        <div class="comment {% if feedItem.feedComments|length == 0 %} hidden {% endif %}">
            <div class="avatar"><img class="rounded" src="{{ get_file_storage_link(app.user.getAvatarFile()) | imagine_filter('small_thumbnail') }}" /></div>
            <div class="content">
                <form class="feed-item-comment-form" action="{{ path('ajax_feed_add_comment', {feedItemId: feedItem.id}) }}" method="post">
                    <textarea class="comment-input" name="feed_comment[feedContent][text]" placeholder="Leave a new comment"></textarea>
                    <div class="buttons" style="display: none;">
                        <input type="submit" class="btn btn-danger" value="Post" />&nbsp;&nbsp;&nbsp;<a href="#" class="cancel-link">Cancel</a>
                        <input class="comment-type" type="hidden" name="feed_comment[feedContent][type]" value="text" />
                    </div>
                </form>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
