{% macro assignment_details_feed(feedCommentForm, feedItem) %}
    <div class="assignment-details-feed">
    <div class="feed-comment-alert-block alert alert-block alert-error" style="display: none;">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Oops, it seems we have errors here:</strong>
        <ul class="alert-errors">

        </ul>
    </div>
    <div class="feed-comment-form">
        <form id="ajaxFeedCommentForm" method="post" {{ form_enctype(feedCommentForm) }} action="{{ path('ajax_feed_add_comment', {feedItemId: feedItem.id }) }}">
            <div class="control-group">
                <textarea class="feed-comment-textarea" name="feed_comment[feedContent][text]" placeholder="Leave a new comment" ></textarea>
            </div>
            <div class="feed-comment-form-controls">
                <div class="attached-link">
                    <div class="control-group">
                        <input class="attached-link-field" type="text" name="feed_comment[feedContent][linkUrl]" placeholder="Enter link..." />
                    </div>
                    <input class="comment-type" type="hidden" name="feed_comment[feedContent][type]" value="text" />
                    <div class="attached-link-delete" style="">
                        <i class="icon-small-trash-bin"></i> <a class="gray" href="#">Delete</a>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="buttons">
                    <input type="submit" class="btn post-button" value="Post message" />
                    <div class="attach-links">
                        <a class="attach-link" data-link-type="image" href="#"><img src="/img/feed_image_icon.png" alt="Add Image" /></a>
                        <a class="attach-link" data-link-type="video" href="#"><img src="/img/feed_video_icon.png" alt="Add Video" /></a>
                        <a class="attach-link" data-link-type="website" href="#"><img src="/img/feed_website_icon.png" alt="Add Link" /></a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    {% set comments = feedItem.feedComments %}
    {% if comments|length > 0 %}
        {% set lastCommentId = comments.last.id %}
    {% else %}
        {% set lastCommentId = 0 %}
    {% endif %}
    <div class="comments" data-last-comment-id="{{ lastCommentId }}" data-server-time="{{ "now"|date("Y-m-d H:i:s") }}" data-checkout-url="{{ path('ajax_checkout_comments', {feedItemId: feedItem.id}) }}">
        {% for comment in comments %}
            {% include "ZerebralFrontendBundle:Feed:feedCommentBlock.html.twig" with {'feedType': 'assignment'} %}
        {% else %}
        <div class="empty"> No comments yet. Be the first to leave one!</div>
        {% endfor %}
    </div>
    </div>
{% endmacro %}

<!--      CourseDetails   --->


{% macro course_details_feed(feedItemForm, feedItemFormPath, feedItems, isGlobal = false) %}
    {% import _self as self %}
    <div class="course-details-feed">
    <div class="feed-item-alert-block alert alert-block alert-error" style="display: none;">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Oops, it seems we have errors here:</strong>
        <ul class="alert-errors">

        </ul>
    </div>
    <div class="feed-item-form">
        <form id="ajaxFeedItemForm" method="post" {{ form_enctype(feedItemForm) }} action="{{ feedItemFormPath }}">
            <div class="control-group">
                <textarea class="feed-item-textarea" name="feed_item[feedContent][text]" placeholder="Share what's new..." ></textarea>
            </div>
            <div class="feed-item-form-controls">
                <div class="attached-link">
                    <div class="control-group">
                        <input class="attached-link-field" type="text" name="feed_item[feedContent][linkUrl]" placeholder="Enter link..." />
                    </div>
                    <input class="comment-type" type="hidden" name="feed_item[feedContent][type]" value="text" />
                    <div class="attached-link-delete" style="">
                        <i class="icon-small-trash-bin"></i> <a class="gray" href="#">Delete</a>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="buttons">
                    <input type="submit" class="btn post-button" value="Post message" />&nbsp;&nbsp;&nbsp;<a href="#" class="cancel-link">Cancel</a>
                    <div class="attach-links">
                        <a class="attach-link" data-link-type="image" href="#"><img src="/img/feed_image_icon.png" alt="Add Image" /></a>
                        <a class="attach-link" data-link-type="video" href="#"><img src="/img/feed_video_icon.png" alt="Add Video" /></a>
                        <a class="attach-link" data-link-type="website" href="#"><img src="/img/feed_website_icon.png" alt="Add Link" /></a>
                    </div>
                </div>
            </div>
            {{ form_widget(feedItemForm._token) }}
        </form>
    </div>
    <hr />
    <div class="feed-items" data-server-time="{{ "now"|date("Y-m-d H:i:s") }}">
        {% for feedItem in feedItems %}
        {% include "ZerebralFrontendBundle:Feed:feedItemBlock.html.twig" %}
        {% else %}
            <div class="empty">No updates yet!</div>
        {% endfor %}
    </div>
    </div>
{% endmacro %}


