{% extends 'ZerebralFrontendBundle::layout.html.twig' %}
{% import "ZerebralFrontendBundle:Macro:main.html.twig" as mainPartials %}

{% block content %}
    {% javascripts
    '@ZerebralFrontendBundle/Resources/public/js/controllers/assignments/index.js'
    output='js/compiled/assignment_index.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}


    <div class="row-fluid assignments-list">
        <div class="span6 main-list-block">
            <div class="row-fluid">
                <h2 class="pull-left form-title">
                    Assignments <small>all</small>
                </h2>
            </div>
            <hr/>

            <div class="span9 items-list{% if is_granted('ROLE_TEACHER') %} teacher-role{% endif %}">
                {% if assignments and assignments.count %}
                    <div class="small-title">Scheduled</div>
                    {% for assignment in assignments %}
                        {{ block('assignment') }}
                    {% endfor %}
                    <div class="clearfix"></div>
                {% endif %}

                {% if assignmentsNoDueDate and assignmentsNoDueDate.count %}
                    <div class="small-title">No due date</div>
                    {% for assignment in assignmentsNoDueDate %}
                        {{ block('assignment') }}
                    {% endfor %}
                    <div class="clearfix"></div>
                {% endif %}

                {% if draftAssignment and draftAssignment.count %}
                    <div class="small-title">Drafts</div>
                    {% set type = 'draft' %}
                    {% for assignment in draftAssignment %}
                        {{ block('assignment') }}
                    {% endfor %}
                    <div class="clearfix"></div>
                {% endif %}


            </div>
        </div>

        <div class="right-navbar pull-left">
            <div class="calendar">
                {{ mainPartials.month(currentMonth) }}
                {{ mainPartials.month(nextMonth) }}
                <p class="reset"><a href="#">reset</a> filter</p>
            </div>
        </div>

    </div>


{% endblock %}

{% block assignment %}
    {% set badgeClass = '' %}
    {% if assignment.hasVirtualColumn('completedCount') %}
        {% if assignment.getVirtualColumn('completedCount') == 0 %}
            {% set badgeClass = '' %}
        {% elseif  assignment.students.count - assignment.getVirtualColumn('completedCount') > 0%}
            {% set badgeClass = 'warning' %}
        {% elseif  assignment.students.count == assignment.getVirtualColumn('completedCount') %}
            {% set badgeClass = 'success' %}
        {% endif %}
        {% endif %}
    <div class="list-item span12{{ loop.last ? ' last' : '' }}" {% if assignment.dueAt %}due-date="{{ assignment.dueAt | date('Y-m-d') }}"{% endif %}>
        <div class="symbol pull-left">
            {% if is_granted('ROLE_STUDENT') %}
                <img class="rounded" src="{{ user_avatar(assignment.teacher) | imagine_filter('thumbnail') }}"/>
            {% else %}
                <div class="rounded count-badge {{ badgeClass }}">
                {% if type is defined and type == 'draft' %}
                    -
                {% elseif assignment.hasVirtualColumn('completedCount') %}
                    {{ assignment.getVirtualColumn('completedCount') }}
                {% endif %}
                    </div>
            {% endif %}
        </div>
        <div class="details pull-left">
            {% if is_granted('ROLE_TEACHER') %}
                <i class="manage-buttons-gears icon-small-gears"></i>
                <div class="manage-buttons invisible">
                    {% if is_granted('EDIT', assignment) %}<a href="{{ path('assignment_edit', {id: assignment.id, courseId: assignment.course.id}) }}"><i class="icon-small-pencil"></i>Edit</a>{% endif %}
                    {% if is_granted('DELETE', assignment) %}<a href="{{ path('assignment_delete', {id: assignment.id}) }}" class="delete-confirm"><i class="icon-small-trash-bin"></i>Delete</a>{% endif %}
                </div>
            {% endif %}
            <h4><a class="course" href="{{ path('course_view', {id: assignment.courseId}) }}">{{ assignment.course.name }}</a> <span class="arrow">&#8594;</span> <a href="{{ path('assignment_view', {id: assignment.id}) }}">{{ assignment.name }}</a></h4>
            <div class="stat">
                {% if is_granted('ROLE_STUDENT') %}
                    <div class="instructor-name">Instructor <b>{{ assignment.teacher.fullName }}</b></div>
                    {% if assignment.dueAt %}<div class="due-at"><i class="icon-small-clock"></i> Due <small>{{ assignment.dueAt | date('Hi') == '0000' ? assignment.dueAt | date('D, M d') : assignment.dueAt | date('D, M d h:i a') }}</small></div>{% endif %}
                    <div><span class="badge">-</span><a href="#">Comments</a></span></div>
                {% else %}
                    {% if assignment.dueAt %}<div class="due-at"><i class="icon-small-clock"></i> Due <small>{{ assignment.dueAt | date('Hi') == '0000' ? assignment.dueAt | date('D, M d') : assignment.dueAt | date('D, M d h:i a') }}</small></div>{% endif %}
                    {#<div><span class="badge">{{ assignment.students.count }}</span><a href="">Assignments</a></div>#}
                    <div><span class="badge">{{ assignment.hasVirtualColumn('completedCount') ? assignment.getVirtualColumn('completedCount') : '-' }}</span><a href="">Completed</a></div>
                    <div><span class="badge badge-inverse">{{ assignment.hasVirtualColumn('remainingCount') ? assignment.getVirtualColumn('remainingCount') : '-' }}</span><a href="">Remaining</a></div>
                {% endif %}
            </div>
        </div>
        {% if is_granted('ROLE_STUDENT') %}
            {% set studentAssignment = assignment.studentAssignmentByStudent(app.user.student) %}
            {% if studentAssignment.grading %}
            <div class="grade pull-right text-center">
                {{ mainPartials.grade(studentAssignment) }}
            </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}