{% extends 'ZerebralFrontendBundle::layout.html.twig' %}
{% import "ZerebralFrontendBundle:Macro:main.html.twig" as mainPartials %}

{% block content %}
    {% javascripts
    '@ZerebralFrontendBundle/Resources/public/js/controllers/assignments/index.js'
    output='js/compiled/assignment_index.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}


    <div class="row-fluid assignments-list">
        <div class="span6 main-list-block">
            <div class="row-fluid">
                <h2 class="pull-left form-title">
                    Assignments <small>all</small>
                </h2>
            </div>
            <hr/>

            <div class="span9 items-list{% if is_granted('ROLE_TEACHER') %} teacher-role{% endif %}">
                {% for assignment in assignments %}
                    <div class="list-item span12">
                        <div class="symbol pull-left">
                            {% if is_granted('ROLE_STUDENT') %}
                                <img class="rounded" src="{{ get_file_storage_link(assignment.teacher.user.getAvatar()) | imagine_filter('thumbnail') }}"/>
                            {% else %}
                                <div class="rounded count-badge">-</div>
                            {% endif %}
                        </div>
                        <div class="details pull-left">
                            {% if is_granted('ROLE_TEACHER') %}
                                <i class="manage-buttons-gears icon-small-gears"></i>
                                <div class="manage-buttons invisible">
                                    {% if is_granted('EDIT', assignment) %}<a href="{{ path('assignment_edit', {id: assignment.id, courseId: assignment.course.id}) }}"><i class="icon-small-pencil"></i>Edit</a>{% endif %}
                                    {% if is_granted('DELETE', assignment) %}<a href="{{ path('assignment_delete', {id: assignment.id}) }}" class="delete-confirm"><i class="icon-small-trash-bin"></i>Delete</a>{% endif %}
                                </div>

                            {% endif %}
                            <h4><a href="{{ path('course_view', {id: assignment.courseId}) }}">{{ assignment.course.name }}</a> -> <a href="{{ path('assignment_view', {id: assignment.id}) }}">{{ assignment.name }}</a></h4>
                            <div class="stat">
                                {% if is_granted('ROLE_STUDENT') %}
                                    <div class="instructor-name">Instructor <b>{{ assignment.teacher.fullName }}</b></div>
                                    <div class="due-at"><i class="icon-small-clock"></i> Due <small>{{ assignment.dueAt | date('Hi') == '0000' ? assignment.dueAt | date('D, M d') : assignment.dueAt | date('D, M d h:i a') }}</small></div>
                                    <div><span class="badge">-</span><a href="#">Comments</a></span></div>
                                {% else %}
                                    <div class="due-at"><i class="icon-small-clock"></i> Due <small>{{ assignment.dueAt | date('Hi') == '0000' ? assignment.dueAt | date('D, M d') : assignment.dueAt | date('D, M d h:i a') }}</small></div>
                                    <div><span class="badge">{{ assignment.students.count }}</span><a href="">Assignments</a></div>
                                    <div><span class="badge">-</span><a href="">Solutions</a></div>
                                    <div><span class="badge badge-inverse">-</span><a href="">Promises</a></div>
                                {% endif %}
                            </div>
                        </div>
                        {% if is_granted('ROLE_STUDENT') %}
                            <div class="grade pull-right text-center">
                                <h4>Grading: {{ assignment.id + 20 }}</h4>
                                {% if assignment.id <= 10 %}
                                    <span class="label label-important">Failed</span>
                                {% else %}
                                    <span class="label label-success">Success</span>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="right-navbar pull-left">
            <div class="calendar">
                {{ mainPartials.month(currentMonth) }}
                {{ mainPartials.month(nextMonth) }}
            </div>
        </div>

    </div>


{% endblock %}