{% extends 'ZerebralFrontendBundle::layout.html.twig' %}
{% import "ZerebralFrontendBundle:Macro:flashMessages.html.twig" as flashMessages %}
{% import "ZerebralFrontendBundle:Macro:main.html.twig" as mainPartials %}

{% block content %}
    {% javascripts
    '@ZerebralFrontendBundle/Resources/public/js/controllers/assignments/view.js'
    output='js/compiled/assignment_view.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <div class="top-second-navbar">
        {{ mainPartials.topMenu('assignments', course) }}
    </div>
    <div class="row-fluid assignment-view">
        <div class="span6 assignment-block">
            <div class="row-fluid manage">
                <h2 class="pull-left form-title limited">
                    {{ course.name }} <small>Assignments/details</small>
                </h2>
                {% if is_granted('ROLE_TEACHER') %}
                    <i class="manage-buttons-gears icon-small-gears pull-right"></i>
                    <div class="manage-buttons invisible pull-right">
                        {% if is_granted('EDIT', assignment) %}<a href="{{ path('assignment_edit', {id: assignment.id, courseId: assignment.course.id}) }}"><i class="icon-small-pencil"></i>Edit</a>{% endif %}
                        {% if is_granted('DELETE', assignment) %}<a href="{{ path('assignment_delete', {id: assignment.id}) }}" class="delete-confirm"><i class="icon-small-trash-bin"></i>Delete</a>{% endif %}
                    </div>
                {% endif %}
            </div>
            <hr/>
            {{ flashMessages.show('student_assignment_solutions_submit', 'success') }}
            <div class="">
                <div class="info">
                    <div class="avatar pull-right">
                        <img class="rounded" src="http://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=50"/>
                    </div>
                    <h3>{{ assignment.name }}</h3>
                    <ul>
                        <li><span>From:</span> {{ assignment.teacher.fullName }}</li>
                        {% if assignment.dueAt is not empty %}
                        <li><span>Due:</span> <span class="date">{{ assignment.dueAt | date('Hi') == '0000' ? assignment.dueAt | date('l, M, d Y ') : assignment.dueAt | date('l, M, d Y h:i a') }}</span></li>
                        {% endif %}
                        <li><span>Category:</span> <span class="label">{{ assignment.assignmentCategory.name }}</span></li>
                    </ul>
                </div>
                <div class="details">
                    {{ assignment.description | raw }}
                </div>
                <div class="files">
                    <ul>
                    {% for file in assignment.files %}
                        <li class="file">
                            <img class="icon" src="{{ get_file_storage_link(get_file_icon(file)) | imagine_filter('file_icon') }}" />
                            <a class="link" target="_blank" href="{{ get_file_storage_link(file) }}">{{ file.name }}</a><br >
                            <span class="size">{{ file.size | bytes_to_human }}</span>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>


            <div class="feed">
                <div class="form">
                    <textarea id="comment_input" placeholder="Share what's new..." ></textarea>
                    <div class="controls">
                        <div class="attached-link">
                            <input id="attached-link-field" type="text" />
                            <div class="attached-link-delete" style="">
                                <i class="icon-small-trash-bin"></i> <a class="gray" href="#">Delete</a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="buttons">
                            <input type="button" class="btn post-button" value="Post message" />
                            <div class="attach-links">
                                <a class="attach-link" href="#"><img src="/img/feed_image_icon.png" alt="Add Image" /></a>
                                <a class="attach-link" href="#"><img src="/img/feed_video_icon.png" alt="Add Video" /></a>
                                <a class="attach-link" href="#"><img src="/img/feed_website_icon.png" alt="Add Link" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        </div>

        <div class="right-navbar pull-left">
            <div class="grading">
                <h4>Grading: 20</h4> <span class="label label-important">Failed</span> <i class="info-icon icon-small-info"></i>
            </div>

            {% if user.isStudent() %}
            <div class="block solutions">
                <div class="solutions-widget">
                    <h4>Solution files</h4>
                    <ul>
                        {% for file in studentAssignment.files %}
                            <li class="file">
                                <i class="icon-search"></i>
                                <a class="link" target="_blank" href="{{ get_file_storage_link(file) }}">{{ file.name }}</a>
                                {% if file.description %}
                                    <i rel="tooltip" title="{{ file.description }}" class="icon-small-info file-info"></i>
                                {% endif %}
                                {% if not studentAssignment.isSubmitted %}
                                <i class="icon-small-trash-bin"></i><a class="remove-uploaded-file" href="{{ path('ajax_student_assignment_solutions_remove', {id: studentAssignment.id, fileId: file.id}) }}">Delete</a>
                                {% endif %}
                            </li>
                        {% else %}
                            <span class="gray">No solution files yet.<br />Press "Upload" button to attach first one</span>
                        {% endfor %}
                    </ul>
                    {% if not studentAssignment.isSubmitted %}
                    <div class="buttons">
                        <a href="#uploadModal" class="btn" data-toggle="modal" data-target="#uploadModal">Upload</a>
                        <a id="submitSolutionsButton" href="{{ path('student_assignment_solutions_submit', {id: studentAssignment.id }) }}" class="btn btn-danger">Submit for review</a>
                    </div>
                    {% endif %}
                    <span class="gray"><b>Note:</b> You cannot modify anything upon submit</span>
                </div>
            </div>

            <div class="modal hide fade" id="uploadModal">
                <form id="ajaxUploadSolutionsForm" method="post" {{ form_enctype(solutionForm) }} class="member-form" action="{{ path('ajax_student_assignment_solutions_upload', {id: studentAssignment.id}) }}">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3>Upload solution files</h3>
                    </div>
                    <div class="modal-body">
                        <ul class="uploadedFiles">
                            <a id="addUploadFile" href="#">Add another file</a> <span class="gray">(Maximum size: 1MB)</span>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-danger" value="Upload" />
                        <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Cancel</a>
                    </div>
                    {{ form_widget(solutionForm._token) }}
                </form>
            </div>

            {% endif %}

            <div class="block teacher-profile">
                {{ mainPartials.teacherShortInfo(assignment.course.teacher) }}
            </div>
        </div>

    </div>
{% endblock %}