<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Zerebral{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script> /* For dev environment: */ localStorage.clear(); </script>

    {% javascripts
        '@ZerebralFrontendBundle/Resources/public/js/vendors/jquery/jquery-1.8.3.min.js'
        '@ZerebralFrontendBundle/Resources/public/js/vendors/jquery/jquery.form.js'
        '@ZerebralFrontendBundle/Resources/public/js/vendors/bootstrap/bootstrap-modal.js'
        '@ZerebralFrontendBundle/Resources/public/js/vendors/bootstrap/bootstrap-button.js'
        '@ZerebralFrontendBundle/Resources/public/js/vendors/bootstrap/bootstrap-dropdown.js'
        '@ZerebralFrontendBundle/Resources/public/js/vendors/bootstrap/bootstrap-alert.js'
        '@ZerebralFrontendBundle/Resources/public/js/vendors/bootstrap/bootstrap-datepicker.js'
        '@ZerebralFrontendBundle/Resources/public/js/vendors/bootstrap/bootstrap-timepicker.js'
        '@ZerebralFrontendBundle/Resources/public/js/vendors/bootstrap/bootstrap-tooltip.js'
        '@ZerebralFrontendBundle/Resources/public/js/vendors/wysihtml5/wysihtml5-0.3.0.js'
        '@ZerebralFrontendBundle/Resources/public/js/vendors/bootstrap/bootstrap-wysihtml5-0.0.2.js'
        '@ZerebralFrontendBundle/Resources/public/js/plugins/jquery.registry.js'
        '@ZerebralFrontendBundle/Resources/public/js/plugins/jquery.ajax-form.js'
        '@ZerebralFrontendBundle/Resources/public/js/plugins/optional-model.js'
        '@ZerebralFrontendBundle/Resources/public/js/bootstrap.js'
        output='js/compiled/layout.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% stylesheets
        '@ZerebralFrontendBundle/Resources/public/less/app.less'
        filter='lessphp' output='css/all.css' debug=true %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}

    {% stylesheets output="css/wysiwyg-color.css"
    '@ZerebralFrontendBundle/Resources/public/css/wysiwyg-color.css' %}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css"  media="screen" />
    {% endstylesheets %}
    {% stylesheets
        '@ZerebralFrontendBundle/Resources/public/css/bootstrap-wysihtml5-0.0.2.css' %}
        <link href="{{ asset_url }}" rel="stylesheet" type="text/css"  media="screen" />
    {% endstylesheets %}

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
    {% block header %}
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <div class="span1">
                    </div>
                    <div class="span6 pull-left">
                        <a class="brand" href="{{ path('dashboard') }}"></a>
                        <ul class="nav">
                            <li class="divider-vertical"></li>
                        </ul>
                        <i class="icon-bell pull-left"><small>7</small></i>
                        <form class="navbar-search pull-left" _lpchecked="1">
                            <input type="text" class="search-query icon-search-glass" placeholder="Search">
                        </form>
                    </div>
                    <ul class="nav menu span3 pull-right profile">
                        {% if is_granted('ROLE_USER') %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img width="27" height="27" src="{{ get_file_storage_link(app.user.getAvatarFile()) | imagine_filter('top_thumbnail') }}" /> &nbsp; {{ app.user.firstName }} {{ app.user.lastName }} &nbsp; <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('myprofile') }}"><i class="icon-user"></i> Profile</a></li>
                                <li class="divider"></li>
                                <li><a href="{{ path('_logout') }}" data-target="loginModal"><i class="icon-share-alt"></i> Sign Out</a></li>
                            </ul>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    {% endblock %}

    <div class="container-fluid" id="main">
        <div class="pull-left left-sidebar">
            <div class="sidebar-nav">
                <ul class="nav nav-list">
                    <li class="{{ target is defined and target == 'home' ? 'active' : ''}}">
                        <div class="menu-item">
                            <a href="{{ path('dashboard') }}"><i class="icon-big-home"></i>Home</a>
                        </div>
                    </li>
                    <li class="{{ target is defined and target == 'notifications' ? 'active' : ''}}">
                        <div class="menu-item notice">
                            <a href="#"><i class="icon-big-bell"> <small>7</small></i>Notifications</a>
                        </div>
                    </li>
                    <li class="{{ target is defined and target == 'courses' ? 'active' : ''}}">
                        <div class="menu-item">
                            <a href="{{ path("courses") }}"><i class="icon-big-notepad"></i>Courses</a>
                        </div>
                    </li>
                    <li class="{{ target is defined and target == 'assignments' ? 'active' : ''}}">
                        <div class="menu-item">
                            <a href="{{ path("assignments") }}"><i class="icon-big-bookmark"></i>Assignments</a>
                        </div>
                    </li>
                    <li class="{{ target is defined and target == 'messages' ? 'active' : ''}}"><div class="menu-item"><i class="icon-big-mail"></i>Messages</div></li>
                    <li class="{{ target is defined and target == 'calendar' ? 'active' : ''}}"><div class="menu-item"><i class="icon-big-calendar"></i>Calendar</div></li>
                    <li class="{{ target is defined and target == 'members' ? 'active' : ''}}">
                        <div class="menu-item">
                            {% if course is defined %}
                                <a href="{{ path('course_members', {id: course.id}) }}"><i class="icon-big-members"></i>Members</a>
                            {% else %}
                                <i class="icon-big-members"></i>Members
                            {% endif %}
                        </div>
                    </li>
                    <li class="{{ target is defined and target == 'files' ? 'active' : ''}}"><div class="menu-item"><i class="icon-big-folder"></i>Files</div></li>
                </ul>
            </div>
        </div>
        <div class="row-fluid main-content">

            <div class="pull-left primary">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <footer>
                    <div class="span1"></div>
                    <div class="span3">
                        <p>Copyright &copy; 2012 Zerebral LLC</p>
                    </div>
                    <div class="span2 offset2">
                        <a href="#" class="rss icon-new-rss-gray">Zerebral RSS</a>
                        <a href="#" class="twitter icon-new-twitter-gray">Zerebral Twitter</a>
                    </div>
                </footer>
            </div>
        </div>

    </div>
</body>
</html>