<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>{% block title %}Zerebral{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script> /* For dev environment: */ localStorage.clear(); </script>

    {% javascripts
        '@ZerebralFrontendBundle/Resources/public/js/vendors/jquery/jquery-1.8.3.min.js'
        '@ZerebralFrontendBundle/Resources/public/js/vendors/jquery/jquery.form.js'
        '@ZerebralFrontendBundle/Resources/public/js/vendors/bootstrap/bootstrap-modal.js'
        '@ZerebralFrontendBundle/Resources/public/js/vendors/bootstrap/bootstrap-button.js'
        '@ZerebralFrontendBundle/Resources/public/js/vendors/bootstrap/bootstrap-dropdown.js'
        '@ZerebralFrontendBundle/Resources/public/js/vendors/bootstrap/bootstrap-alert.js'
        '@ZerebralFrontendBundle/Resources/public/js/vendors/bootstrap/bootstrap-datepicker.js'
        '@ZerebralFrontendBundle/Resources/public/js/vendors/bootstrap/bootstrap-timepicker.js'
        '@ZerebralFrontendBundle/Resources/public/js/vendors/bootstrap/bootstrap-tooltip.js'
        '@ZerebralFrontendBundle/Resources/public/js/vendors/bootstrap/bootstrap-popover.js'
        '@ZerebralFrontendBundle/Resources/public/js/vendors/wysihtml5/wysihtml5-0.3.0.js'
        '@ZerebralFrontendBundle/Resources/public/js/vendors/moment/moment-1.7.2.min.js'
        '@ZerebralFrontendBundle/Resources/public/js/vendors/bootstrap/bootstrap-wysihtml5-0.0.2.js'
        '@ZerebralFrontendBundle/Resources/public/js/vendors/jquery-ui/jquery-ui.custom.min.js'
        '@ZerebralFrontendBundle/Resources/public/js/plugins/jquery.registry.js'
        '@ZerebralFrontendBundle/Resources/public/js/plugins/jquery.feed-block.js'
        '@ZerebralFrontendBundle/Resources/public/js/plugins/jquery.ajax-form.js'
        '@ZerebralFrontendBundle/Resources/public/js/plugins/jquery.expander.js'
        '@ZerebralFrontendBundle/Resources/public/js/plugins/jquery.collection-form-type.js'
        '@ZerebralFrontendBundle/Resources/public/js/plugins/optional-model.js'
        '@ZerebralFrontendBundle/Resources/public/js/plugins/chosen.jquery.js'
        '@ZerebralFrontendBundle/Resources/public/js/plugins/ajax-chosen.js'
        '@ZerebralFrontendBundle/Resources/public/js/plugins/check-all.js'
        '@ZerebralFrontendBundle/Resources/public/js/plugins/calendar-selectable.js'
        '@ZerebralFrontendBundle/Resources/public/js/plugins/jquery.message.js'
        '@ZerebralFrontendBundle/Resources/public/js/plugins/jquery.scrollTo-min.js'
        '@ZerebralFrontendBundle/Resources/public/js/bootstrap.js'
        '@ZerebralFrontendBundle/Resources/public/js/plugins/jquery.notifications.js'
        '@ZerebralFrontendBundle/Resources/public/js/plugins/jquery.placeholder.min.js'
        output='js/compiled/layout.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% stylesheets
        '@ZerebralFrontendBundle/Resources/public/less/app.less'
        filter='lessphp' output='css/all.css' debug=true %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}

    {% stylesheets output="css/wysiwyg-color.css"
        '@ZerebralFrontendBundle/Resources/public/css/wysiwyg-color.css'
        '@ZerebralFrontendBundle/Resources/public/css/jquery-ui.css'
        '@ZerebralFrontendBundle/Resources/public/css/chosen.css' %}
        <link href="{{ asset_url }}" rel="stylesheet" type="text/css"  media="screen" />
    {% endstylesheets %}
    {% stylesheets
        '@ZerebralFrontendBundle/Resources/public/css/bootstrap-wysihtml5-0.0.2.css' %}
        <link href="{{ asset_url }}" rel="stylesheet" type="text/css"  media="screen" />
    {% endstylesheets %}

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
    {% block header %}
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <div class="span1">
                    </div>

                    <div class="span6 pull-left">
                        <a class="brand" href="{{ path('dashboard') }}"></a>
                        <ul class="nav">
                            <li class="divider-vertical"></li>
                        </ul>
                        {% if not app.user.isSuperAdmin() %}
                        {% set notificationsCount = app.user.unreadNotifications.count %}
                        <i class="icon-bell pull-left notifications">
                            {% if notificationsCount %}<small>{{ notificationsCount }}</small>{% endif %}
                        </i>
                        {% endif %}
                        <form class="navbar-search pull-left" _lpchecked="1">
                            <input type="text" class="search-query icon-search-glass" placeholder="Search">
                        </form>
                    </div>

                    <ul class="nav menu span3 pull-right profile">
                        {% if is_granted('ROLE_USER') %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img width="27" height="27" src="{{ user_avatar(app.user) | imagine_filter('top_thumbnail') }}" /> &nbsp; {{ app.user.firstName }} {{ app.user.lastName }} &nbsp; <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                {% if not app.user.isSuperAdmin() %}
                                <li><a href="{{ path('myprofile') }}"><i class="icon-user"></i> Profile</a></li>
                                <li class="divider"></li>
                                {% endif %}
                                <li><a href="{{ path('_logout') }}" data-target="loginModal"><i class="icon-share-alt"></i> Sign Out</a></li>
                            </ul>
                        </li>
                        {% endif %}
                    </ul>
                    {% if is_granted('ROLE_GUARDIAN') %}
                        {{ mainPartials.guardianChildrenSelect() }}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="notifications-popup hide">
            <div class="title">
                <h4>Notifications</h4>
                <a href="{{ path('notifications') }}" class="view-all">View all</a>
            </div>
            <div class="notifications-popup-list"></div>
        </div>
    {% endblock %}

    <div class="container-fluid" id="main">
        <div class="pull-left left-sidebar">
            <div class="sidebar-nav">
                <ul class="nav nav-list">
                    <li class="{{ target is defined and target == 'home' ? 'active' : ''}}">
                        <div class="menu-item">
                            <a href="{{ path('dashboard') }}"><i class="icon-big-home"></i>Home</a>
                        </div>
                    </li>
                    {#<li class="{{ target is defined and target == 'notifications' ? 'active' : ''}}">#}
                        {#{% set notificationsCount = app.user.unreadNotifications.count %}#}
                        {#<div class="menu-item notice">#}
                            {#<a href="{{ path('notifications') }}">#}
                                {#<i class="icon-big-bell">{% if notificationsCount %}<small>{{ notificationsCount }}</small>{% endif %}</i>Notifications#}
                            {#</a>#}
                        {#</div>#}
                    {#</li>#}
                    {% if is_granted('ROLE_STUDENT') or is_granted('ROLE_TEACHER') %}
                    <li class="{{ target is defined and target == 'courses' ? 'active' : ''}}">
                        <div class="menu-item">
                            <a href="{{ path("courses") }}"><i class="icon-big-notepad"></i>Courses</a>
                        </div>
                    </li>
                    <li class="{{ target is defined and target == 'assignments' ? 'active' : ''}}">
                        <div class="menu-item">
                            <a href="{{ path("assignments") }}"><i class="icon-big-bookmark"></i>Assignments</a>
                        </div>
                    </li>
                    <li class="{{ target is defined and target == 'messages' ? 'active' : ''}}">
                        <div class="menu-item">
                            <a href="{{ path("messages_inbox") }}"><i class="icon-big-mail">{% if app.user.unreadMessagesCount > 0 %}<small>{{ app.user.unreadMessagesCount }}</small>{% endif %}</i>Messages</a>
                        </div>
                    </li>
                    {% endif %}
                    {#<li class="{{ target is defined and target == 'calendar' ? 'active' : ''}}"><div class="menu-item"><i class="icon-big-calendar"></i>Calendar</div></li>#}
                    {#<li class="{{ target is defined and target == 'members' ? 'active' : ''}}">#}
                        {#<div class="menu-item">#}
                            {#{% if course is defined and course %}#}
                                {#<a href="{{ path('course_members', {id: course.id}) }}"><i class="icon-big-members"></i>Members</a>#}
                            {#{% else %}#}
                                {#<i class="icon-big-members"></i>Members#}
                            {#{% endif %}#}
                        {#</div>#}
                    {#</li>#}
                    {% if is_granted('ROLE_TEACHER') %}
                    <li class="{{ target is defined and target == 'files' ? 'active' : ''}}">
                        <div class="menu-item">
                            <a href="{{ path('assignment_solutions') }}"><i class="icon-big-folder"></i>Files</a>
                        </div>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="row-fluid main-content">
            <div class="pull-left primary">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <footer>
                    <div class="span1"></div>
                    <div class="span3">
                        <p>Copyright &copy; 2012 Zerebral LLC</p>
                    </div>
                    <div class="span2 offset2">
                        <a href="#" class="rss icon-new-rss-gray">Zerebral RSS</a>
                        <a href="#" class="twitter icon-new-twitter-gray">Zerebral Twitter</a>
                    </div>
                </footer>
            </div>
        </div>

    </div>
</body>
</html>