{% extends 'ZerebralFrontendBundle::layout.html.twig' %}
{% import "ZerebralFrontendBundle:Macro:main.html.twig" as mainPartials %}

{% block content %}
    {% javascripts
    '@ZerebralFrontendBundle/Resources/public/js/controllers/solutions/index.js'
    output='js/compiled/solutions.js' %}
    <script type="text/javascript" src="{{ asset_url }}" xmlns="http://www.w3.org/1999/html"></script>
    {% endjavascripts %}

    <div class="row-fluid solutions-folders-list assignments-list">
        <div class="span6 main-list-block">
            <div class="row-fluid">
                <h2 class="pull-left form-title">
                    Files
                    <small>
                        {% if course %}
                            <a href="{{ path('assignment_solutions') }}">All courses</a> /
                            {{ course.name }}
                        {% else %}
                            All courses
                        {% endif %}
                    </small>
                </h2>
            </div>
            <hr/>

            <div class="span9 items-list">
                {% if assignments and assignments.count %}
                    {% for assignment in assignments %}
                        {{ block('assignment') }}
                    {% endfor %}
                    <div class="clearfix"></div>
                {% endif %}
            </div>
        </div>

        <div class="right-navbar pull-left">
            <div class="block sorting">
                <h4>sort by</h4>
                <form method="post" action="">
                    <ul class="radio">
                        <li><label><input type="radio" name="FileGrouping" value="date" {{ fileGrouping == 'date' ? 'checked' : '' }}/> Due date</label></li>
                        <li><label><input type="radio" name="FileGrouping" value="assignment" {{ fileGrouping == 'assignment' or fileGrouping == 'name' ? 'checked' : '' }}/> Assignment name</label></li>
                        <li><label><input type="radio" name="FileGrouping" value="course" {{ fileGrouping == 'course' ? 'checked' : '' }}/> Course name</label></li>
                    </ul>
                </form>
            </div>

            <div class="block folders">
                <h4>Courses</h4>

                <ul class="marker">
                    <li {{ course == null ? 'class="active"' : '' }}><i class="marker">&#9656;</i><a href="{{ path('assignment_solutions') }}">All courses</a></li>
                    {% for assignmentCourse in courses %}
                        <li {{ course and course.id == assignmentCourse.id ? 'class="active"' : '' }}>
                            <i class="marker">&#9656;</i>
                            <a href="{{ path('course_assignment_solutions', {courseId: assignmentCourse.id}) }}" class="folder-name">{{ assignmentCourse.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </div>


{% endblock %}

{% block assignment %}
    <div class="list-item span12{{ loop.last ? ' last' : '' }}">
        <div class="pull-left">
            <i class="icon-blue-folder"></i>
        </div>
        <div class="details pull-left">
            <h4><a class="course" href="{{ path('course_view', {id: assignment.courseId}) }}">{{ assignment.course.name }}</a> <span class="arrow">&#8594;</span> <a href="{{ path('assignment_solutions_students', {assignmentId: assignment.id}) }}">{{ assignment.name }}</a></h4>
            <div class="stat">
                {% if assignment.dueAt %}<div class="due-at"><i class="icon-small-clock"></i> Due <small>{{ assignment.dueAt | date('Hi') == '0000' ? assignment.dueAt | date('D, M d') : assignment.dueAt | date('D, M d h:i a') }}</small></div>{% endif %}
                {#<div><span class="badge">{{ assignment.students.count }}</span><a href="">Assignees</a></div>#}
                <div><span class="badge">{{ assignment.hasVirtualColumn('completedCount') ? assignment.getVirtualColumn('completedCount') : '-' }}</span><a href="">Completed</a></div>
                <div><span class="badge badge-inverse">{{ assignment.hasVirtualColumn('remainingCount') ? assignment.getVirtualColumn('remainingCount') : '-' }}</span><a href="">Remaining</a></div>
            </div>
        </div>
        {% if assignment.hasVirtualColumn('filesCount') and assignment.getVirtualColumn('filesCount') > 0 %}
            <div class="download-all pull-right"><a href="{{ path('assignment_solutions_download', {assignmentId: assignment.id }) }}"><i class="icon-download-zip"></i>Download {{ assignment.getVirtualColumn('filesCount') }} files</a></div>
        {% endif %}
    </div>
{% endblock %}