{% extends 'ZerebralFrontendBundle::layout.html.twig' %}
{% import "ZerebralFrontendBundle:Macro:main.html.twig" as mainPartials %}

{% block content %}
    {% javascripts '@ZerebralFrontendBundle/Resources/public/js/controllers/guardian/index.js' output='js/compiled/guardian_index.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <div class="top-second-navbar">
        {{ mainPartials.guardianTopMenu('assignments') }}
    </div>

    <div class="row-fluid courses-list course-details">
        <div class="span6 main-list-block">
            <div class="row-fluid manage">
                <h2 class="pull-left form-title">Assignments</h2>
            </div>

            <hr/>

            <div class="span9 items-list">
                {% for course in selectedChild.courses %}
                    <div class="list-item span12{{ loop.last ? ' last' : '' }}" {% if course.assignmentsDueDates %}due-date="{{ course.assignmentsDueDates | join(',') }}"{% endif %}>
                        <div class="symbol pull-left"><img class="rounded" src="{{ user_avatar(course.teacher) | imagine_filter('thumbnail') }}"/></div>
                        <div class="details pull-left">
                            <h4>{{ course.name }}</h4>
                            <div class="stat">
                                <div class="instructor-name">Instructor: <b><a href="#">{{ course.teacher.fullName }}</a></b></div>
                                {#<div><span class="badge badge-important assignments-count" default-count="{{ selectedChild.courseAssignments(course).count }}">{{ selectedChild.courseAssignments(course).count }}</span>Assignments</div>#}
                            </div>
                            <div class="description">{{ course.description }}</div>
                            {{ mainPartials.courseSchedule(course) }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="right-navbar pull-left">

        </div>
    </div>
{% endblock %}