{% extends 'ZerebralFrontendBundle::layout.html.twig' %}
{% import "ZerebralFrontendBundle:Macro:main.html.twig" as mainPartials %}

{% block content %}
    {% javascripts
    '@ZerebralFrontendBundle/Resources/public/js/plugins/jquery.dataTables.min.js'
    '@ZerebralFrontendBundle/Resources/public/js/plugins/FixedColumns.min.js'
    '@ZerebralFrontendBundle/Resources/public/js/controllers/guardian/attendance.js'
    output='js/compiled/guardian_attendance.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <div class="top-second-navbar">
        {{ mainPartials.guardianTopMenu('courses') }}
    </div>



    <div class="row-fluid assignment-view">
        <div class="span6 assignment-block">
            <div class="row-fluid manage">
                <h2 class="pull-left form-title limited">
                    {{ course.name }} <small>Assignments/details</small>
                </h2>
            </div>
            <hr/>
            <div class="">
                <div class="info assignment-info">
                    <h3>{{ assignment.name }}</h3>
                    <ul>
                        <li><span>From:</span> {{ assignment.teacher.fullName }}</li>
                        {% if assignment.dueAt is not empty %}
                            <li><span>Due:</span> <span class="date">{{ assignment.dueAt | date('Hi') == '0000' ? assignment.dueAt | date('l, M, d Y ') : assignment.dueAt | date('l, M, d Y h:i a') }}</span></li>
                        {% endif %}
                        <li><span>Category:</span> <span class="label">{{ assignment.assignmentCategory.name }}</span></li>
                    </ul>
                </div>
                <div class="details">
                    {{ assignment.description | raw }}
                </div>
                <div class="files assignment-files">
                    {{ mainPartials.filesList(assignment.files) }}
                </div>
            </div>
        </div>

        <div class="right-navbar pull-left">
            {% if is_granted('ROLE_GUARDIAN') %}
                {% set studentAssignment = assignment.studentAssignmentByStudent(student) %}
                {% if studentAssignment.grading is not null%}
                    <div class="grading">
                        {{ mainPartials.grade(studentAssignment, assignment) }}
                    </div>
                {% endif %}
            {% endif %}

            <div class="block teacher-profile">
                {{ mainPartials.teacherShortInfo(assignment.course.teacher) }}
            </div>

        </div>

    </div>
{% endblock %}


