{% extends 'ZerebralFrontendBundle::layout.html.twig' %}
{% import "ZerebralFrontendBundle:Macro:main.html.twig" as mainPartials %}

{% block content %}
    {% javascripts '@ZerebralFrontendBundle/Resources/public/js/controllers/guardian/classes.js' output='js/compiled/guardian_classes.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <div class="top-second-navbar">
        {{ mainPartials.guardianTopMenu('courses') }}
    </div>

    <div class="row-fluid courses-list course-details">
        <div class="span6 main-list-block">
            <div class="row-fluid manage">
                <h2 class="pull-left form-title">
                    {{ course.name }} <small>course details</small>
                </h2>
            </div>
            <hr/>

            {{ mainPartials.courseSchedule(course) }}

            <div class="description">
                {% autoescape false %}
                {{ course.description }}
                {% endautoescape %}
            </div>
        </div>
        <div class="right-navbar pull-left">
            <div class="block upcoming-assignments">
                {{ mainPartials.upcomingAssignments(upcomingAssignments) }}
            </div>

            <div class="block recent-materials">
                {{ mainPartials.recentMaterials(recentMaterials) }}
            </div>


            <div class="block teacher-profile">
                {{ mainPartials.teacherShortInfo(course.teacher) }}
            </div>
        </div>
    </div>

{% endblock %}