{% extends 'ZerebralFrontendBundle::layout.html.twig' %}
{% import "ZerebralFrontendBundle:Macro:main.html.twig" as mainPartials %}

{% block content %}
    {% javascripts '@ZerebralFrontendBundle/Resources/public/js/controllers/guardian/classes.js' output='js/compiled/guardian_classes.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <div class="top-second-navbar">
        {{ mainPartials.guardianTopMenu('courses') }}
    </div>

    <div class="row-fluid courses-list course-details">
        <div class="span6 main-list-block">
            <div class="row-fluid manage">
                <h2 class="pull-left form-title">Courses</h2>
            </div>

            <hr/>

            <div class="span9 items-list">
                {% for course in courses %}
                    <div id="class{{ course.id }}" class="list-item span12{{ loop.last ? ' last' : '' }}" {% if course.assignmentsDueDates %}due-date="{{ course.assignmentsDueDates | join(',') }}"{% endif %}>
                        <div class="symbol pull-left"><img class="rounded" src="{{ user_avatar(course.teacher) | imagine_filter('thumbnail') }}"/></div>
                        <div class="details pull-left">
                            <h4><a href="{{ path('guardian_course_view', {id: course.id}) }}">{{ course.name }}</a></h4>
                            <div class="stat">
                                <div class="instructor-name pull-left" >Instructor<b> <a href="{{ path('profile_view', {id: course.teacher.userId }) }}">{{ course.teacher.fullName }}</a></b></div>
                                <div><span class="badge badge-important assignments-count" default-count="{{ course.getVirtualColumn('studentAssignmentsCount') }}">{{ course.getVirtualColumn('studentAssignmentsCount') }}</span><a href="{{ path('guardian_course_assignments', {courseId: course.id}) }}">Assignments</a></div>
                                <div class="clear"></div>
                            </div>
                            {{ mainPartials.courseSchedule(course, false) }}

                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="right-navbar pull-left">

            <div class="calendar">
                {{ mainPartials.month(currentMonth) }}
                {{ mainPartials.month(nextMonth) }}
                <p class="reset"><a href="#" class="btn btn-small">Reset filter</a></p>
            </div>

        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.calendar').calendarSelectable({itemList: '.items-list', calculateAssignmentsCount: true, startDate: "{{ dateFilter.startDate }}", endDate: "{{ dateFilter.endDate }}"});
        });
    </script>
{% endblock %}