{% extends 'ZerebralFrontendBundle::layout.html.twig' %}
{% import "ZerebralFrontendBundle:Macro:main.html.twig" as mainPartials %}

{% block content %}
    {% javascripts '@ZerebralFrontendBundle/Resources/public/js/controllers/guardian/index.js' output='js/compiled/guardian_index.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <div class="top-second-navbar">
        {{ mainPartials.guardianTopMenu('summary') }}
    </div>

    <div class="row-fluid courses-list course-details">
        <div class="span6 main-list-block">
            <div class="row-fluid manage">
                <h2 class="pull-left form-title">
                    Summary
                </h2>
            </div>
            <hr/>
            <br />
            <div class="description">
                <h4>Grades</h4>
                <table class="summary-table">
                    <tr>
                        <td><b>Total grades: </b>{{ summary.gradesCount }}</td>
                        <td><b>Passed grades: </b>{{ summary.gradesPassedCount }} ({{ summary.gradesPassedPercent }}%)</td>
                    </tr>
                </table>
                <br />
                <h4>Attendance</h4>
                <table class="summary-table">
                    <tr>
                        <td><b>Total attendance records: </b>{{ summary.attendance.totalCount }}</td>
                        <td><b>Absent records: </b>{{ summary.attendance.absent }} ({{ summary.attendance.absentPercent }}%)</td>
                    </tr>
                    <tr>
                        <td><b>Tardy records: </b>{{ summary.attendance.tardy }} ({{ summary.attendance.tardyPercent }}%)</td>
                        <td><b>Excused records: </b>{{ summary.attendance.excused }} ({{ summary.attendance.excusedPercent }}%)</td>
                    </tr>
                </table>
                <br />
                <h4>Classes</h4>
                <table class="summary-table">
                    <tr>
                        <td><b>Courses: </b>{{ summary.coursesCount }}</td>
                        <td><b>Assignments: </b>{{ summary.assignmentsCount }}</td>
                    </tr>
                </table>
                <br />
                <table class="table table-bordered table-striped stat-table">
                    <tr class="header">
                        <td class="main"><b>Course</td>
                        <td class="secondary"><b>Grades passed</td>
                        <td class="secondary"><b>Attendance present</td>
                    </tr>
                    {% for courseName, courseStat in summary.classes %}
                    <tr class="{% if loop.index0 is odd %}odd{% else %}even{% endif %}">
                        <td class="main">{{ courseName }}</td>
                        <td class="secondary">
                            {% if courseStat.gradesCount > 0 %}
                                {{ courseStat.gradesPassedCount }} ({{ courseStat.gradesPassedPercent }}%)
                            {% else %}
                                <i>No data</i>
                            {% endif %}
                        </td>
                        <td class="secondary">
                            {% if courseStat.attendanceCount > 0 %}
                                {{ courseStat.attendancePresentCount }} ({{ courseStat.attendancePresentPercent }}%)
                            {% else %}
                                <i>No data</i>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="right-navbar pull-left">
            <div class="upcoming-assignments block">
                {{ mainPartials.upcomingAssignments(upcomingAssignments) }}
            </div>
        </div>
    </div>
{% endblock %}