<div class="info assignment-info">
    <ul>
        <li><span>Student:</span> {{ studentAssignment.student.fullName }}</li>
        {% if studentAssignment.submittedAt is not empty %}
            <li><span>Submitted:</span> <span class="date">{{ studentAssignment.submittedAt | date('l, M, d Y h:i a') }}</span></li>
        {% endif %}
        <li><span>Assignment:</span> {{ studentAssignment.assignment.name }}</li>
    </ul>
    <img class="rounded" src="{{ user_avatar(studentAssignment.student.user) | imagine_filter('thumbnail') }}"/>
</div>

<div class="solutions solutions-files">
    <h5>Download solution files</h5>
    {% if studentAssignment.files | length %}
        <ul>
        {% for file in studentAssignment.files %}
            <li class="file">
                <img class="icon" src="{{ get_file_icon(file) | imagine_filter('file_icon') }}" />
                <a class="link" href="{{ path('download_file', {id: file.id}) }}">{{ file.name }}</a><br >
                <span class="size">{{ file.size | bytes_to_human }}</span>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <span class="gray">No solution files yet.</span>
    {% endif %}
</div>

<div class="grade-block">
    {{ form_widget(form, {label: 'Enter the number grade below', assignment: studentAssignment.assignment }) }}
    {{ form_rest(form) }}
</div>