{% extends 'ZerebralFrontendBundle::layout.html.twig' %}

{% form_theme form _self %}

{% block form_rows %}
    {% spaceless %}
        {% for child in form %}
            {{ form_widget(child) }}
        {% endfor %}
    {% endspaceless %}
{% endblock form_rows %}

{% block content %}
    {% javascripts
        '@ZerebralFrontendBundle/Resources/public/js/controllers/course/add.js'
        output='js/compiled/courses_add.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <div class="row-fluid edit-course">
        <div class="span12">
            <div class="row-fluid">
                <h2 class="span6 pull-left form-title">
                    {% if form.vars.value.id is defined and form.vars.value.id > 0 %}
                        {{ form.vars.value.name }}
                    {% else %}
                        Create New Course
                    {% endif %}
                </h2>
            </div>
            <hr/>

            <form method="post" {{ form_enctype(form) }} novalidate  class="form-horizontal span10 create-form no-left-margin">

                {% if isFirstCourse %}
                <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>Woohoo!</strong> You are only one step away from start inviting students. Fill out this form to get started.
                </div>
                {% endif %}

                {% if not form.vars.valid %}
                <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>What went wrong?</strong> We really need all mandatory fields to create this course.
                </div>
                {% endif %}

                {{ form_row(form.name, {
                    label: 'Course Name',
                    form_type: 'horizontal',
                    placeholder: 'Course Name',
                    attr: {
                        class: 'input-xlarge course-name',
                        help: 'e.g. Algebra'
                    }
                }) }}
                {{ form_row(form.description, {
                    label: 'Description',
                    form_type: 'horizontal',
                    attr: {
                        class: 'input-block-level',
                        rows: 6
                    }
                }) }}

                <div class="row-fluid">
                    {{ form_row(form.discipline, {
                        label: 'Subject Area',
                        form_type: 'horizontal',
                        empty_disabled: true,
                        attr: {
                            class: 'input-xlarge',
                            help: 'asdfasdf'
                        },
                        group_size: 10
                    }) }}
                </div>

                {{ form_row(form.gradeLevel, {
                    label: 'Grade Level',
                    form_type: 'horizontal',
                    empty_disabled: true,
                    attr: {
                        class: 'input-xlarge'
                    }
                }) }}

                <div class="form-inline">
                    {{ form_row(form.start, {
                        label: 'Start date',
                        form_type: 'horizontal',
                        empty_disabled: true,
                        attr: {
                            class: 'icon-new-calendar image-background input-small'
                        }
                    }) }}

                    {{ form_row(form.end, {
                        label: 'End date',
                        form_type: 'horizontal',
                        empty_disabled: true,
                        attr: {
                            class: 'icon-new-calendar image-background input-small'
                        }
                    }) }}
                </div>
                <div class="clearfix"></div>

                <h5 class="form-subtitle">Schedule</h5>

                <div id="schedule-fields-list" data-prototype="{{ form_widget(form.courseScheduleDays.vars.prototype) | e }}" class="collection-container">
                    {{ form_widget(form.courseScheduleDays) }}
                </div>

                <div class="clearfix"></div>
                <a href="#" id="add-another-schedule">Add time slot</a>

                {{ form_rest(form) }}

                <div class="form-actions">
                    <input type="submit" class="btn btn-danger" value="{% if form.vars.value.id is defined and form.vars.value.id > 0 %}Update{% else %}Create{% endif %}" />
                    <input type="reset" class="btn" value="Cancel" />
                </div>

            </form>
        </div>
    </div>
{% endblock %}