{% extends 'ZerebralFrontendBundle::layout.html.twig' %}
{% import "ZerebralFrontendBundle:Macro:main.html.twig" as mainPartials %}

{% block content %}
    {% javascripts
        '@ZerebralFrontendBundle/Resources/public/js/controllers/course/assignments.js'
        output='js/compiled/course.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <div class="top-second-navbar">
        {{ mainPartials.topMenu('assignments', course) }}
    </div>
    <div class="row-fluid assignments-list">
        <div class="span6 main-list-block">
            <div class="row-fluid">
                <h2 class="pull-left form-title">
                    {{ course.name }} <small>Assignments</small>
                </h2>
            </div>
            <hr/>

            <div class="span9 items-list{% if is_granted('ROLE_TEACHER') %} teacher-role{% endif %}">
                {% if assignments and assignments.count %}
                    <div class="small-title">Scheduled</div>
                    {% for assignment in assignments %}
                        {{ block('assignment') }}
                    {% endfor %}
                    <div class="clearfix"></div>
                {% endif %}

                {% if assignmentsNoDueDate and assignmentsNoDueDate.count %}
                    <div class="small-title">No due date</div>
                    {% for assignment in assignmentsNoDueDate %}
                        {{ block('assignment') }}
                    {% endfor %}
                    <div class="clearfix"></div>
                {% endif %}

                {% if draftAssignment and draftAssignment.count %}
                    <div class="small-title">Drafts</div>
                    {% set type = 'draft' %}
                    {% for assignment in draftAssignment %}
                        {{ block('assignment') }}
                    {% endfor %}
                    <div class="clearfix"></div>
                {% endif %}
            </div>
        </div>

        <div class="right-navbar pull-left">
            {% if is_granted('ROLE_TEACHER') %}
                <div class="top-buttons">
                    <a href="{{ path('assignment_add', {courseId: course.id}) }}" class="btn big-button create-course">create assignment</a>
                    <a href="{{ path('assignments') }}" class="btn big-button use-access-code">view all</a>
                </div>
            {% endif %}

            <div class="calendar">
                {{ mainPartials.month(currentMonth) }}
                {{ mainPartials.month(nextMonth) }}
            </div>
        </div>

    </div>


{% endblock %}

{% block assignment %}
    {% set badgeClass = '' %}
    {% if assignment.hasVirtualColumn('completedCount') %}
        {% if assignment.getVirtualColumn('completedCount') == 0 %}
            {% set badgeClass = '' %}
        {% elseif  assignment.students.count - assignment.getVirtualColumn('completedCount') > 0%}
            {% set badgeClass = 'warning' %}
        {% elseif  assignment.students.count == assignment.getVirtualColumn('completedCount') %}
            {% set badgeClass = 'success' %}
        {% endif %}
    {% endif %}
    <div class="list-item span12{{ loop.last ? ' last' : '' }}">
        <div class="symbol pull-left">
            {% if is_granted('ROLE_STUDENT') %}
                <img class="rounded" src="{{ user_avatar(assignment.teacher) | imagine_filter('thumbnail') }}"/>
            {% else %}
                <div class="rounded count-badge {{ badgeClass }}">
                    {% if type is defined and type == 'draft' %}
                        -
                    {% elseif assignment.hasVirtualColumn('completedCount') %}
                        {{ assignment.getVirtualColumn('completedCount') }}
                    {% endif %}
                </div>
            {% endif %}
        </div>
        <div class="details pull-left">
            {% if is_granted('ROLE_TEACHER') %}
                <i class="manage-buttons-gears icon-small-gears"></i>
                <div class="manage-buttons invisible">
                    {% if is_granted('EDIT', assignment) %}<a href="{{ path('assignment_edit', {id: assignment.id, courseId: course.id}) }}"><i class="icon-small-pencil"></i>Edit</a>{% endif %}
                    {% if is_granted('DELETE', assignment) %}<a href="{{ path('course_assignment_delete', {id: assignment.id, courseId: course.id}) }}" class="delete-confirm"><i class="icon-small-trash-bin"></i>Delete</a>{% endif %}
                </div>

            {% endif %}
            <h4><a href="{{ path('assignment_view', {id: assignment.id}) }}">{{ assignment.name }}</a></h4>
            <div class="stat">
                {% if is_granted('ROLE_STUDENT') %}
                    <div class="instructor-name">Instructor <b>{{ assignment.teacher.fullName }}</b></div>
                    {% if assignment.dueAt %}<div class="due-at"><i class="icon-small-clock"></i> Due <small>{{ assignment.dueAt | date('Hi') == '0000' ? assignment.dueAt | date('D, M d') : assignment.dueAt | date('D, M d h:i a') }}</small></div>{% endif %}
                    <div><span class="badge">-</span><a href="#">Comments</a></span></div>
                {% else %}
                    {% if assignment.dueAt %}<div class="due-at"><i class="icon-small-clock"></i> Due <small>{{ assignment.dueAt | date('Hi') == '0000' ? assignment.dueAt | date('D, M d') : assignment.dueAt | date('D, M d h:i a') }}</small></div>{% endif %}
                    {#<div><span class="badge">{{ assignment.students.count }}</span><a href="">Assignments</a></div>#}
                    <div><span class="badge">{{ assignment.hasVirtualColumn('completedCount') ? assignment.getVirtualColumn('completedCount') : '-' }}</span><a href="">Completed</a></div>
                    <div><span class="badge badge-inverse">{{ assignment.hasVirtualColumn('remainingCount') ? assignment.getVirtualColumn('remainingCount') : '-' }}</span><a href="">Remaining</a></div>
                {% endif %}
            </div>
        </div>
        {% if is_granted('ROLE_STUDENT') %}
            <div class="grade pull-right text-center">
                <h4>Grading: {{ assignment.id + 20 }}</h4>
                {% if assignment.id <= 10 %}
                    <span class="label label-important">Failed</span>
                {% else %}
                    <span class="label label-success">Success</span>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}