{% extends 'ZerebralFrontendBundle::layout.html.twig' %}
{% import "ZerebralFrontendBundle:Macro:main.html.twig" as mainPartials %}
{% import "ZerebralFrontendBundle:Macro:flashMessages.html.twig" as flashMessages %}

{% block content %}
{% javascripts
    '@ZerebralFrontendBundle/Resources/public/js/controllers/course/index.js'
    output='js/compiled/course.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

<div class="row-fluid courses-list">
    <div class="span6 main-list-block">
        <div class="row-fluid">
            <h2 class="pull-left form-title">
                My Courses <small>all</small>
            </h2>
        </div>
        <hr/>

        <div class="span9 items-list{% if is_granted('ROLE_TEACHER') %} teacher-role{% endif %}">
            {{ flashMessages.show('delete_course_success', 'success') }}
            {% for course in courses %}
                <div class="list-item span12{{ loop.last ? ' last' : '' }}">
                    <div class="symbol pull-left">
                        {% if is_granted('ROLE_STUDENT') %}
                            <img class="rounded" src="{{ user_avatar(course.teacher) | imagine_filter('thumbnail') }}"/>
                        {% else %}
                            <div class="rounded count-badge">{{ course.courseStudents.count }}</div>
                        {% endif %}
                    </div>
                    <div class="details pull-left">
                        {% if is_granted('ROLE_TEACHER') %}
                            <i class="manage-buttons-gears icon-small-gears"></i>
                            <div class="manage-buttons invisible">
                                {% if is_granted('EDIT', course) %}<a href="{{ path('course_edit', {id: course.id}) }}"><i class="icon-small-pencil"></i>Edit</a>{% endif %}
                                {% if is_granted('DELETE', course) %}<a href="{{ path('course_delete', {id: course.id}) }}" class="delete-confirm"><i class="icon-small-trash-bin"></i>Delete</a>{% endif %}
                                {% if is_granted('EDIT', course) %}<a href="{{ path('course_members', {id: course.id}) }}"><i class="icon-small-people"></i>Edit members</a>{% endif %}
                            </div>
                        {% endif %}
                        <h4><a href="{{ path('course_feed', {id: course.id}) }}">{{ course.name }}</a> <small><i class="icon-small-clock"></i> last updated {{ time_diff(course.updatedAt) }}</small></h4>
                        <div class="stat">
                            {% if is_granted('ROLE_STUDENT') %}
                                <div class="instructor-name">Instructor <b>{{ course.teacher.fullName }}</b></div>
                                <div><span class="badge badge-important">{{ app.user.student.courseAssignments(course).count }}</span><a href="{{ path('course_assignments', {id: course.id}) }}">Assignments</a></div>
                            {% else %}
                                <div><span class="badge badge-important">{{ course.assignments.count }}</span><a href="{{ path('course_assignments', {id: course.id}) }}">Assignments</a></div>
                            {% endif %}

                            <div><span class="badge badge-inverse"></span><a href="#">Comments</a></span></div>
                            {% if is_granted('ROLE_STUDENT') %}
                                <div><span class="badge badge-info">-</span><a href="">New materials</a></div>
                            {% endif %}
                        </div>

                        {{ mainPartials.courseSchedule(course) }}

                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="right-navbar pull-left">
        {% if is_granted('ROLE_TEACHER') %}
            <a href="{{ path('course_add') }}" class="btn create-course big-button top-buttons">create course</a>
        {% else %}
            <a href="#inviteModal" class="btn big-button use-access-code top-buttons" data-toggle="modal" data-target="#inviteModal">use access code</a>
        {% endif %}

        <div class="upcoming-assignments block">
            {{ mainPartials.upcomingAssignments(upcomingAssignments) }}
        </div>

        <div class="calendar">
            {{ mainPartials.month(currentMonth) }}
            {{ mainPartials.month(nextMonth) }}
        </div>
    </div>

</div>

{% if is_granted('ROLE_STUDENT') %}
    <div class="modal hide fade" id="inviteModal">
        <form method="post" {{ form_enctype(courseJoinForm) }}  class="form-horizontal invite-form" action="{{ path('ajax_course_join') }}" novalidate >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Invite users</h3>
            </div>
            <div class="modal-body">
                {{ form_row(courseJoinForm.accessCode, {
                    label: 'Access code',
                    form_type: 'horizontal',
                    attr: {
                        class: 'input-block-level',
                        help: 'Provided by instructor'
                    }
                }) }}
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-danger" value="Join"/>
                <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Cancel</a>
            </div>
            {{ form_rest(courseJoinForm) }}
        </form>
    </div>
{% endif %}
{% endblock %}