{% extends 'ZerebralFrontendBundle::layout.html.twig' %}

{% block content %}
    <div class="row-fluid courses-list" xmlns="http://www.w3.org/1999/html">
    <div class="span7">
        <div class="row-fluid">
            <h2 class="span6 pull-left form-title">
                My Courses <small>all</small>
            </h2>
        </div>
        <hr/>

        <div class="span9 user-courses">
            {% for course in courses %}
                <div class="course span12">
                    <div class="symbol pull-left">
                        {% if is_granted('ROLE_STUDENT') %}
                            <img class="rounded" src="http://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=48"/>
                        {% else %}
                            <div class="rounded course-members-count">{{ course.courseStudents.count }}</div>
                        {% endif %}
                    </div>
                    <div class="details pull-left">
                        <h4><a href="{{ path('course_view', {id: course.id}) }}">{{ course.name }}</a> <small><i class="icon-small-clock"></i> last updated {{ time_diff(course.updatedAt) }}</small></h4>
                        <div class="stat">
                            {% if is_granted('ROLE_STUDENT') %}
                                <div class="instructor-name">Instructor <b>{{ course.teacher.fullName }}</b></div>
                            {% endif %}
                            <div><span class="badge badge-important">{{ course.assignments.count }}</span><a href="">Assignments</a></div>
                            <div><span class="badge badge-inverse">-</span><a href="#">New discussions</a></span></div>
                            {% if is_granted('ROLE_STUDENT') %}
                                <div><span class="badge badge-info">-</span><a href="">New materials</a></div>
                            {% endif %}
                        </div>
                        {% if is_granted('ROLE_TEACHER') %}
                            <div class="manage-buttons">
                                {% if is_granted('EDIT', course) %}<a href="{{ path('course_edit', {id: course.id}) }}"><i class="icon-small-pencil"></i>Edit</a>{% endif %}
                                {% if is_granted('DELETE', course) %}<a href="{{ path('course_delete', {id: course.id}) }}"><i class="icon-small-trash-bin"></i>Delete</a>{% endif %}
                                <a href=""><i class="icon-small-people"></i>Edit members</a>
                            </div>
                        {% endif %}
                    </div>

                    <div class="timetable pull-right">
                        <div class="duration"><i class="icon-small-calendar"></i> From: 14/02 &nbsp;&nbsp; Due: 05/06</div>
                        <div class="time">
                            <i class="icon-small-clipboard pull-left"></i>
                            <ul>
                                <li>Mon: 09:00 - 14:00</li>
                                <li>Tue: 14:10 - 19:00</li>
                                <li>Wed: 05:00 - 15:45</li>
                            </ul>
                        </div>

                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="right-navbar pull-left">
        {% if is_granted('ROLE_TEACHER') %}
            <a href="{{ path('course_add') }}" class="btn create-course">create course</a>
        {% else %}
            <a href="#" class="btn use-access-code">use access code</a>
        {% endif %}

        <div class="upcoming-assignments">
            <h4>Upcoming assignments</h4>
            <ul>
                <li><div class="assignment-label"><span class="label label-inverse">Quize</span></div> <a href="">Welcome to Algebra</a> <span class="new">(Due in 2 days)</span></li>
                <li><div class="assignment-label"><span class="label label-info">Test</span></div> <a href="">Getting started</a> (Due in 2 days)</li>
                <li><div class="assignment-label"><span class="label label-important">Milestone</span></div> <a href="">Addition Session</a> (Due in 2 days)</li>
                <li><div class="assignment-label"><span class="label label-warning">Home</span></div> <a href="">Division Session</a> (Due in 2 days)</li>
            </ul>
        </div>
    </div>

    <div class="clearfix"></div>
{% endblock %}