{% extends 'ZerebralFrontendBundle::layout.html.twig' %}
{% import "ZerebralFrontendBundle:Macro:main.html.twig" as mainPartials %}
{% import "ZerebralFrontendBundle:Macro:flashMessages.html.twig" as flashMessages %}

{% block content %}
{% javascripts
    '@ZerebralFrontendBundle/Resources/public/js/controllers/course/index.js'
    output='js/compiled/course.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

<div class="row-fluid courses-list">
    <div class="span6 main-list-block">
        <div class="row-fluid">
            <h2 class="pull-left form-title">
                My Courses <small>all</small>
            </h2>
        </div>
        <hr/>

        <div class="span9 items-list{% if is_granted('ROLE_TEACHER') %} teacher-role{% endif %}">
            {{ flashMessages.show('delete_course_success', 'success') }}
            {% for course in courses %}
                <div class="list-item span12">
                    <div class="symbol pull-left">
                        {% if is_granted('ROLE_STUDENT') %}
                            <img class="rounded" src="http://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=48"/>
                        {% else %}
                            <div class="rounded count-badge">{{ course.courseStudents.count }}</div>
                        {% endif %}
                    </div>
                    <div class="details pull-left">
                        {% if is_granted('ROLE_TEACHER') %}
                            <i class="manage-buttons-gears icon-small-gears"></i>
                            <div class="manage-buttons invisible">
                                {% if is_granted('EDIT', course) %}<a href="{{ path('course_edit', {id: course.id}) }}"><i class="icon-small-pencil"></i>Edit</a>{% endif %}
                                {% if is_granted('DELETE', course) %}<a href="{{ path('course_delete', {id: course.id}) }}" class="delete-confirm"><i class="icon-small-trash-bin"></i>Delete</a>{% endif %}
                                {% if is_granted('EDIT', course) %}<a href="{{ path('course_members', {id: course.id}) }}"><i class="icon-small-people"></i>Edit members</a>{% endif %}
                            </div>
                        {% endif %}
                        <h4><a href="{{ path('course_view', {id: course.id}) }}">{{ course.name }}</a> <small><i class="icon-small-clock"></i> last updated {{ time_diff(course.updatedAt) }}</small></h4>
                        <div class="stat">
                            {% if is_granted('ROLE_STUDENT') %}
                                <div class="instructor-name">Instructor <b>{{ course.teacher.fullName }}</b></div>
                                <div><span class="badge badge-important">{{ app.user.student.courseAssignments(course).count }}</span><a href="{{ path('course_assignments', {id: course.id}) }}">Assignments</a></div>
                            {% else %}
                                <div><span class="badge badge-important">{{ course.assignments.count }}</span><a href="{{ path('course_assignments', {id: course.id}) }}">Assignments</a></div>
                            {% endif %}

                            <div><span class="badge badge-inverse">-</span><a href="#">New discussions</a></span></div>
                            {% if is_granted('ROLE_STUDENT') %}
                                <div><span class="badge badge-info">-</span><a href="">New materials</a></div>
                            {% endif %}
                        </div>

                        <div class="timetable">
                            <div class="duration span4"><i class="icon-small-calendar"></i> <b>From:</b> 14/02 &nbsp;&nbsp; <b>Due:</b> 05/06</div>
                            <div class="time span8">
                                <i class="icon-small-clipboard pull-left"></i>
                                <ul>
                                    <li><b>Mon:</b> 09:00 - 14:00</li>
                                    <li><b>Tue:</b> 14:10 - 19:00</li>
                                    <li><b>Wed:</b> 05:00 - 15:45</li>
                                    <li><b>Mon:</b> 09:00 - 14:00</li>
                                    <li><b>Tue:</b> 14:10 - 19:00</li>
                                    <li><b>Wed:</b> 05:00 - 15:45</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="right-navbar pull-left">
        {% if is_granted('ROLE_TEACHER') %}
            <a href="{{ path('course_add') }}" class="btn create-course big-button top-buttons">create course</a>
        {% else %}
            <a href="#inviteModal" class="btn big-button use-access-code top-buttons" data-toggle="modal" data-target="#inviteModal">use access code</a>
        {% endif %}

        <div class="upcoming-assignments">
            <h4>Upcoming assignments</h4>
            <ul>
                <li><div class="assignment-label"><span class="label label-inverse">Quize</span></div> <a href="">Welcome to Algebra</a> <span class="new">(Due in 2 days)</span></li>
                <li><div class="assignment-label"><span class="label label-info">Test</span></div> <a href="">Getting started</a> (Due in 2 days)</li>
                <li><div class="assignment-label"><span class="label label-important">Milestone</span></div> <a href="">Addition Session</a> (Due in 2 days)</li>
                <li><div class="assignment-label"><span class="label label-warning">Home</span></div> <a href="">Division Session</a> (Due in 2 days)</li>
            </ul>
        </div>

        <div class="calendar">
            {{ mainPartials.month(currentMonth) }}
            {{ mainPartials.month(nextMonth) }}
        </div>
    </div>

</div>

{% if is_granted('ROLE_STUDENT') %}
    <div class="modal hide fade" id="inviteModal">
        <form method="post" {{ form_enctype(form) }}  class="form-horizontal invite-form" novalidate data-validate-url="{{ path('course_verify_code', {accessCode: '__ACCESS_CODE__'}) }}" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Invite users</h3>
            </div>
            <div class="modal-body">
                {{ form_row(form.accessCode, {
                    label: 'Access code',
                    form_type: 'horizontal',
                    attr: {
                        class: 'input-block-level',
                        help: 'Provided by instructor'
                    }
                }) }}

                <input type="submit" class="btn btn-danger" value="Join"/>
                <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Cancel</a>
            </div>
            {{ form_rest(form) }}
        </form>
    </div>
{% endif %}
{% endblock %}