{% extends 'ZerebralFrontendBundle::layout.html.twig' %}

{% block content %}

    <h2>Courses</h2>
    <a href="{{ path('course_add') }}" class="btn btn-small btn-success">Create course</a>


    {% for course in courses %}
        <div style="margin: 20px 0; border-bottom: 1px dashed #ccc;">
            <h4><a href="{{ path('course_view', {id: course.id}) }}" style="color: #555;">{{ course.name }}</a></h4>
            <a href="{{ path('course_edit', {id: course.id}) }}">Edit</a>
            <a href="{{ path('course_delete', {id: course.id}) }}" onclick="return confirm('Are you sure?');">Remove</a>
        </div>

    {% endfor %}
{% endblock %}