{% extends 'ZerebralFrontendBundle::layout.html.twig' %}
{% import "ZerebralFrontendBundle:Macro:main.html.twig" as mainPartials %}

{% block content %}
    {% javascripts
    '@ZerebralFrontendBundle/Resources/public/js/controllers/course/materials.js'
    output='js/compiled/materials.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <div class="top-second-navbar">
        {{ mainPartials.topMenu('materials', course) }}
    </div>
    <div class="row-fluid materials-list">
        <div class="span6 main-list-block">
            <div class="row-fluid">
                <h2 class="pull-left form-title">
                    {{ course.name }} <small><a href="{{ path('course_materials', {courseId: course.id}) }}">Syllabus</a> {{ folder ? '/ ' ~ folder.name : '' }}</small>
                </h2>
            </div>
            <hr/>

            <div class="span9 items-list{% if is_granted('ROLE_TEACHER') %} teacher-role{% endif %}">
                {% for groupTitle,materials in dayMaterials %}
                    {% if materialGrouping == 'date' %}
                        <div class="small-title">{{ groupTitle | date('l, d F Y') }}</div>
                    {% elseif materialGrouping == 'folder' %}
                        <div class="small-title">{{ groupTitle }}</div>
                    {% endif %}

                    {% for material in materials %}
                        <div class="material-item{{ loop.last ? ' last' : '' }}">
                            <div class="type">
                                <img src="/img/{{ get_file_icon(material.file).name }}" width="30"/>
                            </div>
                            <div class="details">
                                <div class="title">
                                    <h3><a href="{{ get_file_storage_link(material.file) }}">{{ material.file.name }}</a></h3>
                                </div>
                                <div class="description">{{ material.description }}</div>
                                <div class="info">
                                    by {{ material.teacher.fullName }} {% if material.courseFolder %}in <a href="{{ path('course_materials_folder', {courseId: course.id, folderId: material.folderId}) }}" class="folder"><i class="icon-small-folder"></i>{{ material.courseFolder.name }}</a>{% endif %} {{ material.file.size | bytes_to_human }}
                                    {% if is_granted('ROLE_TEACHER') %}
                                        <span class="separator">/</span>
                                        <div class="manage-buttons">
                                            <a href="{{ path('delete_course_material', {id: material.id}) }}" class="delete-confirm" confirm="Do you really want to delete file?" ><i class="icon-small-trash-bin"></i>Delete</a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                {% endfor %}
            </div>
        </div>

        <div class="right-navbar pull-left">
            {% if is_granted('ROLE_TEACHER') %}
                <div class="top-buttons">
                    <a href="#uploadMaterialModal" class="btn big-button upload-file" data-toggle="modal" data-target="#uploadMaterialModal">upload file</a>
                    <a href="#" class="btn big-button create-folder">create folder</a>
                </div>
            {% endif %}

            <div class="block sorting">
                <h4>sort by</h4>
                <form method="post" action="">
                    <ul class="radio">
                        <li {{ materialGrouping == 'date' ? 'class="active"' : '' }}><label><input type="radio" name="MaterialGrouping" value="date" {{ materialGrouping == 'date' ? 'checked' : '' }}/> Date and time</label></li>
                        <li {{ materialGrouping == 'alphabetically' ? 'class="active"' : '' }}><label><input type="radio" name="MaterialGrouping" value="alphabetically" {{ materialGrouping == 'alphabetically' ? 'checked' : '' }}/> A-Z</label></li>
                        <li {{ materialGrouping == 'folder' ? 'class="active"' : '' }}><label><input type="radio" name="MaterialGrouping" value="folder" {{ materialGrouping == 'folder' ? 'checked' : '' }}/> Folder</label></li>
                    </ul>
                </form>
            </div>

            <div class="block folders">
                <h4>Folders</h4>

                <ul class="marker">
                    <li {{ folder == null ? 'class="active"' : '' }}><i class="marker">&#9656;</i><a href="{{ path('course_materials', {courseId: course.id}) }}">All files</a></li>
                    {% for courseFolder in course.courseFolders %}
                        <li {{ folder and courseFolder.id == folder.id ? 'class="active"' : '' }} folderId="{{ courseFolder.id }}" courseId="{{ course.id }}" folderName="{{ courseFolder.name }}">
                            <i class="marker">&#9656;</i>
                            <a href="{{ path('course_materials_folder', {courseId: course.id, folderId: courseFolder.id}) }}" class="folder-name">{{ courseFolder.name }}</a>
                            {% if is_granted('ROLE_TEACHER') %}
                                <div class="manage">
                                    <i class="manage-buttons-gears icon-small-gears"></i>
                                    <div class="manage-buttons invisible">
                                        {% if is_granted('EDIT', courseFolder) %}<a href="#" class="edit"><i class="icon-small-pencil"></i>Edit</a>{% endif %}
                                        {% if is_granted('DELETE', courseFolder) %}<a href="{{ path('course_material_folder_delete', {id: courseFolder.id}) }}" class="delete"><i class="icon-small-trash-bin"></i>Delete</a>{% endif %}
                                    </div>
                                </div>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>

        </div>

    </div>

    {% if is_granted('EDIT', course) %}
    {% render url('course_material_folder_form', {courseId: course.id}) %}
    {% endif %}

    {#<div class="modal hide fade" id="editFolderModal">#}
        {#<form class="form-vertical folder-form" data-action-edit="{{ path('ajax_edit_folder', {courseId: course.id, id: ''}) }}" data-action-add="{{ path('ajax_add_folder', {courseId: course.id}) }}" method="post" {{ form_enctype(folderRenameForm) }} novalidate>#}
            {#<div class="modal-header">#}
                {#<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>#}
                {#<h3>Rename folder</h3>#}
            {#</div>#}
            {#<div class="modal-body">#}
                {#{{ form_row(folderRenameForm.name, {#}
                    {#label: 'Name',#}
                    {#form_type: 'horizontal',#}
                    {#placeholder: 'Folder name',#}
                    {#attr: {#}
                        {#class: 'input-xlarge'#}
                    {#}#}
                {#}) }}#}

                {#{{ form_rest(folderRenameForm) }}#}

            {#</div>#}
            {#<div class="modal-footer">#}
                {#<button type="submit" class="btn btn-danger">Save</button>#}
            {#</div>#}
        {#</form>#}
    {#</div>#}

    <div class="modal hide fade" id="uploadMaterialModal">
        <form method="post" {{ form_enctype(courseMaterialForm) }} class="upload-material" action="{{ path('ajax_course_material_upload', {id: course.id}) }}">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Upload syllabus files</h3>
            </div>
            <div class="modal-body">
                <div class="form-inline upload-folder">
                    {{ form_row(courseMaterialForm.courseMaterialFolder, {
                        label: 'Choose folder',
                        form_type: 'horizontal',
                        placeholder: 'Folder name',
                        attr: {
                            class: 'input-xlarge'
                        }
                    }) }}

                </div>
                <div class="clearfix"></div>

                <ul class="uploadedFiles"></ul>

                <a id="addUploadFile" href="#">Add another file</a>
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-danger" value="Upload" />
                <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Cancel</a>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        $(document).on('init', function () {
            var controllerOptions = {
                courseId: {{ course.id }}
            };
            controller.init(controllerOptions);
        });
    </script>

{% endblock %}