{% extends 'ZerebralFrontendBundle::layout.html.twig' %}
{% import "ZerebralFrontendBundle:Macro:main.html.twig" as mainPartials %}

{% block content %}
    <div class="row-fluid course-members">
        <div class="top-second-navbar">
            {{ mainPartials.topMenu('members', course) }}
        </div>
        <div class="row-fluid">



            <div class="pull-left members-list">
                <h2 class="pull-left form-title">{{ course.name }} <small>course members</small></h2>

                <div class="clearfix"></div>
                <hr/>

                {% for member in students %}
                    {{ block('member') }}
                {% endfor %}

                {% if is_granted('ROLE_TEACHER') %}
                <div class="form-actions">
                    <a href="#inviteModal" class="btn btn-danger invite" data-toggle="modal" data-target="#inviteModal">Invite someone by email</a>
                    or share an access code: <b>JWBGN-9KX1X5</b>
                    <a href="#" class="reset">reset</a>
                </div>
                {% endif %}
            </div>


            <div class="right-navbar pull-left">
                <h4>Teacher profile</h4>
                <hr/>
                {{ course.teacher.fullName }}
                <img class="pull-right rounded" src="http://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=50"/>
                <a href="#" class="btn create-new-item">Send Message</a>
            </div>

    </div>

    <div class="modal hide fade" id="inviteModal">
        <form method="post" {{ form_enctype(form) }} novalidate>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Invite users</h3>
            </div>
            <div class="modal-body">
                <p>
                    To send invitations to join your course, enter one ore more email addresses into the text box, separated by space or new lines, and click "Send Invites" button.
                </p>
                {{ form_widget(form.emailList, {
                    label: '',
                    form_type: 'horizontal',
                    attr: {
                        class: 'input-block-level',
                        rows: 6
                    }
                }) }}
                <div class="clearfix"></div>
                <p>
                    Your course currently has {{ students|length + teachers|length }} of 50 available. Invite(s) remaining: {{ 50 - students|length - teachers|length }} for your current plan.
                </p>

                <input type="submit" class="btn btn-danger" value="Send Invites"/>
                <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Cancel</a>
            </div>
            {{ form_rest(form) }}
        </form>
    </div>

{% endblock %}

{% block member %}
    <div class="member">
        <div class="avatar"><img src="http://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=50"/></div>
        <div class="info">
            <a href="#">{{ member.fullName }}</a>

            <div class="manage-buttons">
                <a href="#">
                    <i class="icon-gray-mail"></i>Message
                </a>

                <a href="{{ path('course_remove_student', {courseId: course.id, studentId: member.id}) }}">
                    <i class="icon-small-trash-bin"></i>Delete
                </a>
            </div>
        </div>

    </div>
{% endblock %}