{% extends 'ZerebralFrontendBundle::layout.html.twig' %}
{% import "ZerebralFrontendBundle:Macro:main.html.twig" as mainPartials %}

{% form_theme form _self %}
{% block form_rows %}
    {% spaceless %}
        {% for child in form %}
            {{ form_widget(child) }}
        {% endfor %}
    {% endspaceless %}
{% endblock form_rows %}

{% block error_alert %}
    {% for error in errorList %}
        <div class="alert alert-error">
            <button data-dismiss="alert" class="close" type="button">×</button>
            {{ error.messageTemplate|trans(error.messageParameters, 'validators') }}
        </div>
    {% endfor %}
{% endblock %}

{% block content %}
    {% javascripts
    '@ZerebralFrontendBundle/Resources/public/js/plugins/bootstrap-typeahead-objects-array.js'
    '@ZerebralFrontendBundle/Resources/public/js/controllers/message/compose.js'
    output='js/compiled/assignment_index.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}


    <div class="row-fluid messages-list">
        <div class="span6 main-list-block">
            <div class="row-fluid">
                <h2 class="pull-left form-title">
                    Messages
                </h2>
            </div>
            <hr/>

            {% if form.toName.vars.errors|length %}
                {% set errorList = form.toName.vars.errors %}
                {{ block('error_alert') }}
            {% endif %}

            {% if form.subject.vars.errors|length %}
                {% set errorList = form.subject.vars.errors %}
                {{ block('error_alert') }}
            {% endif %}

            <div class="messages">
                <form method="post" {{ form_enctype(form) }} novalidate>
                    {{ form_widget(form._token) }}
                    <div class="message-form">
                        <div class="to">
                            {{ form_row(form.toName, {
                                label: 'To',
                                form_type: 'horizontal',
                                attr: {
                                    class: '',
                                    'hiddennId': 'message_to_id',
                                    autocomplete: 'off'
                                }
                                })
                            }}
                            {{ form_row(form.to_id, {
                                label: 'To',
                                form_type: 'horizontal',
                                attr: {}
                                })
                            }}
                            {#<input type="hidden" name="message[to_id]" id="message_to_id">#}
                        </div>
                        <div class="subject">
                            {{ form_row(form.subject, {
                                form_type: 'horizontal',
                                attr: {
                                    class: 'input-xlarge primary-input'
                                }
                            }) }}
                        </div>
                    </div>
                    <div class="reply">


                        {{ form_row(form.body, {
                            label: '',
                            form_type: 'horizontal',
                            attr: {
                                class: '',
                                rows: 6
                            }
                        }) }}

                        <script type="text/template" id="new_file_form">
                            {{ form_widget(form.files.vars.prototype)|raw }}
                        </script>

                        <div class="control-group radio-control-group">
                            <label class="control-label">Attachments</label>

                            <div id="attachments_div" class="controls">
                                <div id="upload_files_div" data-last-index="{{ form.files.vars.data|max_key }}">
                                    {{ form_widget(form.files) }}
                                </div>
                                <a href="#" class="add_file_link">Add another file</a> <span class="gray"></span>
                            </div>
                        </div>

                        <input type="submit" value="Send" />

                    </div>
                </form>
            </div>
        </div>

        <div class="right-navbar pull-left">
            <div class="block">
                {% include "ZerebralFrontendBundle:Message:menuBlock.html.twig" %}
            </div>

        </div>
    </div>
{% endblock %}