{% extends 'ZerebralFrontendBundle::layout.html.twig' %}
{% import "ZerebralFrontendBundle:Macro:main.html.twig" as mainPartials %}

{% form_theme form _self %}
{% block form_rows %}
    {% spaceless %}
        {% for child in form %}
            {{ form_widget(child) }}
        {% endfor %}
    {% endspaceless %}
{% endblock form_rows %}

{% block content %}
    {% javascripts
    '@ZerebralFrontendBundle/Resources/public/js/plugins/bootstrap-typeahead-objects-array.js'
    '@ZerebralFrontendBundle/Resources/public/js/controllers/message/compose.js'
    output='js/compiled/assignment_index.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}


    <div class="row-fluid messages-list">
        <div class="span6 main-list-block">
            <div class="row-fluid">
                <h2 class="pull-left form-title">
                    Messages <small>compose</small>
                </h2>
            </div>
            <hr/>

            <div class="message-form">
                {% if hasErrors %}
                    <div class="alert alert-error">
                        <button data-dismiss="alert" class="close" type="button">×</button>
                        <strong>Oh snap!</strong> Change a few things up and try submitting again.
                    </div>
                {% endif %}

                <form method="post" {{ form_enctype(form) }} novalidate>
                    {{ form_widget(form._token) }}
                    {{ form_row(form.to, {
                        label: 'To',
                        form_type: 'horizontal',
                        attr: {
                            class: '',
                            'multiple': true,
                            autocomplete: 'off'
                        }
                        })
                    }}
                    {{ form_row(form.subject, {
                        form_type: 'horizontal',
                        attr: {
                            class: 'input-xlarge'
                        }
                    }) }}
                    {{ form_row(form.body, {
                        label: 'Message',
                        form_type: 'horizontal',
                        attr: {
                            class: '',
                            rows: 6
                        }
                    }) }}

                    <script type="text/template" id="new_file_form">
                        {{ form_widget(form.files.vars.prototype)|raw }}
                    </script>

                    <div class="control-group radio-control-group">
                        <label class="control-label"></label>

                        <div id="attachments_div" class="controls">
                            <div id="upload_files_div" data-last-index="{{ form.files.vars.data|max_key }}">
                                {{ form_widget(form.files) }}
                            </div>
                            <a href="#" class="add_file_link">Add another file</a> <span class="gray"></span>
                        </div>
                    </div>

                    <div class="form-actions">
                        <input type="submit" value="Send Message" />
                        <input type="reset" value="Cancel" class="btn">
                    </div>

                </form>
            </div>
        </div>

        <div class="right-navbar pull-left compose-message">
            <div class="block">
                {% include "ZerebralFrontendBundle:Message:menuBlock.html.twig" %}
            </div>

        </div>
    </div>
{% endblock %}