{% extends 'ZerebralFrontendBundle::layout.html.twig' %}
{% import "ZerebralFrontendBundle:Macro:main.html.twig" as mainPartials %}
{% import "ZerebralFrontendBundle:Macro:flashMessages.html.twig" as flashMessages %}

{% block content %}
    {% javascripts
    '@ZerebralFrontendBundle/Resources/public/js/controllers/message/inbox.js'
    output='js/compiled/assignment_index.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}


    <div class="row-fluid messages-list">
        <div class="span6 main-list-block">
            <div class="row-fluid">
                <h2 class="pull-left form-title">
                    Messages {% if unreadCount > 0 %}<small>{{ unreadCount }} unread</small>{% else %} <small>{{ folder == 'inbox' ? 'Inbox' : 'Sent' }}</small> {% endif %}
                </h2>
            </div>
            <hr/>

            <form method="post" action="{{ path('message_edit') }}">
                {{ flashMessages.show('message_compose_success', 'success') }}
                {{ flashMessages.show('message_reply_success', 'success') }}
                {{ flashMessages.show('message_delete_success', 'success') }}
                {{ flashMessages.show('message_markasreed_success', 'success') }}
                {% if messages and messages.count %}
                    <div class="messages-head">
                        <div class="pull-right">
                            <input type="submit" value="Delete" class="btn btn-danger group-control-button" name="delete" disabled="disabled" />
                            {% if folder == 'inbox' %}
                            <input type="submit" value="Mark as Read" class="btn group-control-button" name="mark-as-read" disabled="disabled" />
                            <input type="submit" value="Mark as Unread" class="btn group-control-button" name="mark-as-unread" disabled="disabled" />
                            {% endif %}
                        </div>
                        <label><input type="checkbox" class="select-all" /> Select / deselect all</label>
                    </div>
                    <div class="messages messageslist">
                        {% for message in messages %}
                            {{ block('message') }}
                        {% endfor %}
                        <div class="clearfix"></div>
                    </div>
                {% else %}
                    <div class="messages messageslist empty-messageslist">
                        <div class="empty">There are no messages in your folder</div>
                    </div>
                {% endif %}
            </form>
            <div class="pull-right">
                {% set path = folder == 'inbox' ? 'messages_inbox' : 'messages_sent' %}
                {% include "ZerebralFrontendBundle:Message:paginator.html.twig" %}
            </div>
        </div>

        <div class="right-navbar pull-left">

            <a class="btn big-button top-buttons compose-message" href="{{ path('message_compose') }}">compose message</a>

            <div class="block">
                {% include "ZerebralFrontendBundle:Message:menuBlock.html.twig" %}
            </div>
        </div>
    </div>
{% endblock %}

{% block message %}
    {% set user = (message.toId == message.userId ? message.userRelatedByFromId : message.userRelatedByToId) %}
    <div class="message-row {{ message.getUnreadCount > 0 ? 'unread' : '' }}">
        <div class="check"><input type="checkbox" class="message-check" name="Collection[]" value="{{ message.threadId }}" /></div>
        <div class="avatar">
            <img src="{{ user_avatar(user) | imagine_filter('thumbnail') }}" width="32" height="32" />
        </div>
        <div class="name">
            <a href="{{ path('profile_view', {id: user.id}) }}">{{ user.fullName }}</a>
            <p>{{ message.getLastMessageDate | date('M d \\a\\t g:i a') }}</p>
        </div>
        <div class="message-content">
            <a href="{{ path('message_reply', {threadId: message.threadId}) }}">{{ message.subject }}{% if message.getUnreadCount > 0 %} ({{ message.getUnreadCount }}){% endif %}</a>
            <p>{{ message.shortBody |striptags| slice(0, 70) | raw }}</p>
        </div>

    </div>
{% endblock %}