{% macro assignment_details_feed(form, formPath, comments, user) %}
<div class="feed">
    <div class="form" style="background-color: #f3f3f3;">
        <form style="margin: 0;" id="ajaxFeedCommentForm" method="post" {{ form_enctype(form) }} action="{{ formPath }}">
            <textarea style="background-image: none; width: 621px; margin-top: 20px; margin-bottom: 10px; margin-left: 20px; margin-right: 20px; padding-left: 6px; padding-right: 6px; height: 120px;" id="comment_input" name="feed_comment[feedContent][text]" placeholder="Leave a new comment" ></textarea>
            <div class="controls" style="display: block;">
                <div class="attached-link">
                    <input id="attached-link-field" type="text" name="feed_comment[feedContent][link_url]" placeholder="Enter link..." />
                    <input id="comment-type" type="hidden" name="feed_comment[feedContent][type]" value="text" />
                    <div class="attached-link-delete" style="">
                        <i class="icon-small-trash-bin"></i> <a class="gray" href="#">Delete</a>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="buttons">
                    <input type="submit" class="btn post-button" value="Post message" /><!--&nbsp;&nbsp;&nbsp;<a href="#" class="cancel-link">Cancel</a>-->
                    <div class="attach-links">
                        <a class="attach-link" data-link-type="image" href="#"><img src="/img/feed_image_icon.png" alt="Add Image" /></a>
                        <a class="attach-link" data-link-type="video" href="#"><img src="/img/feed_video_icon.png" alt="Add Video" /></a>
                        <a class="attach-link" data-link-type="website" href="#"><img src="/img/feed_website_icon.png" alt="Add Link" /></a>
                    </div>
                </div>
            </div>
            {{ form_widget(form._token) }}
        </form>
    </div>
    <div class="comments">
        {% for comment in comments %}
        <div class="comment item">
            <div class="avatar"><img class="rounded" src="{{ get_file_storage_link(comment.user.getAvatarFile()) | imagine_filter('thumbnail') }}" /> </div>
            <div class="content">
                <div class="author {% if user.id == comment.user.id %} is_author {% endif %}">
                    {{ comment.user.fullName }} <span class="gray timestamp">{{ time_diff(comment.createdAt) }}</span>
                    {% if user.id == comment.user.id %}<span class="gray delete-link"><i class="icon-small-trash-bin"></i>Delete</span>{% endif %}
                </div>
                <div class="text">{{ comment.feedContent.text }}</div>
                <div class="link"><a href="{{ comment.feedContent.linkUrl }}">{{ comment.feedContent.linkUrl }}</a></div>
            </div>
        </div>
        {% else %}
        <div class="empty"> No comments yet. Be the first to leave one!</div>
        {% endfor %}
    </div>
</div>
{% endmacro %}

<!--      CourseDetails   --->


{% macro feed_item_assignment_block(feedItem) %}
    <div class="author">{{ feedItem.user.fullName }}<span class="gray"> created new assignment </span><a style="color: #333333;" href="{{ path('assignment_view', {id: feedItem.assignment.id}) }}">{{ feedItem.assignment.name }}</a> <span class="gray timestamp">{{ time_diff(feedItem.createdAt) }}</span></div>
    <div class="text">
        {% autoescape 'html' %}
        {{ feedItem.assignment.description|striptags|slice(0, 100) }}
        {% endautoescape %}
    </div>
{% endmacro %}

{% macro feed_item_text_block(feedItem) %}
    <div class="author">{{ feedItem.user.fullName }}<span class="gray timestamp">{{ time_diff(feedItem.createdAt) }}</span></div>
    <div class="text">
        {{ feedItem.feedContent.text }}
    </div>
    <div class="link"><a href=""></a></div>
{% endmacro %}




{% macro course_details_feed(feedItemForm, feedItemFormPath, feedItems, feedCommentForm, feedCommentPath) %}
    {% import _self as self %}
    <div class="course-details-feed">
    <div class="feed-item-form">
        <form id="ajaxFeedItemForm" method="post" {{ form_enctype(feedItemForm) }} action="{{ feedItemFormPath }}">
            <textarea class="feed-item-textarea" name="feed_item[feedContent][text]" placeholder="Share what's new..." ></textarea>
            <div class="feed-item-form-controls">
                <div class="attached-link">
                    <input class="attached-link-field" type="text" name="feed_item[feedContent][link_url]" placeholder="Enter link..." />
                    <input class="comment-type" type="hidden" name="feed_item[feedContent][type]" value="text" />
                    <div class="attached-link-delete" style="">
                        <i class="icon-small-trash-bin"></i> <a class="gray" href="#">Delete</a>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="buttons">
                    <input type="submit" class="btn post-button" value="Post message" />&nbsp;&nbsp;&nbsp;<a href="#" class="cancel-link">Cancel</a>
                    <div class="attach-links">
                        <a class="attach-link" data-link-type="image" href="#"><img src="/img/feed_image_icon.png" alt="Add Image" /></a>
                        <a class="attach-link" data-link-type="video" href="#"><img src="/img/feed_video_icon.png" alt="Add Video" /></a>
                        <a class="attach-link" data-link-type="website" href="#"><img src="/img/feed_website_icon.png" alt="Add Link" /></a>
                    </div>
                </div>
            </div>
            {{ form_widget(feedItemForm._token) }}
        </form>
    </div>
    <hr />
    <div class="feed-items">
        {% for feedItem in feedItems %}
            <div class="feed-item">
                <div class="avatar"><img class="rounded" src="{{ get_file_storage_link(feedItem.user.getAvatarFile()) | imagine_filter('thumbnail') }}"></div>
                <div class="content">
                    {% if feedItem.feedContent.type == 'assignment' %}
                        {{ self.feed_item_assignment_block(feedItem) }}
                    {% else %}
                        {{ self.feed_item_text_block(feedItem) }}
                    {% endif %}
                </div>
                <div class="comments-button"><i class="icon-comment"></i> <span class="gray">Comment</span></div>
                <div class="comments">
                    {% for comment in feedItem.feedComments %}
                        <div class="comment">
                            <div class="avatar"><img class="rounded" src="{{ get_file_storage_link(comment.user.getAvatarFile()) | imagine_filter('small_thumbnail') }}" /></div>
                            <div class="content"><b>{{ comment.user.fullName }}</b>&nbsp;{{ comment.feedContent.text }}</div>
                            <div class="timestamp"><span class="gray">{{ time_diff(comment.createdAt) }}</span></div>
                            <div class="clearfix"></div>
                        </div>
                    {% endfor %}
                    {% if feedItem.feedComments|length > 0 %}
                    <div class="comment">
                        <div class="avatar"><img class="rounded" src="{{ get_file_storage_link(app.user.getAvatarFile()) | imagine_filter('small_thumbnail') }}" /></div>
                        <div class="content">
                            <form class="feed-item-comment-form" action="{{ path('ajax_feed_add_comment', {feedItemId: feedItem.id }) }}" method="post" style="margin: 0;">
                                <textarea class="comment-input" placeholder="Leave a new comment"></textarea>
                                <div class="buttons" style="display: none;">
                                    <input type="submit" class="btn btn-danger" value="Post" />&nbsp;&nbsp;&nbsp;<a href="#" class="cancel-link">Cancel</a>
                                </div>
                            </form>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <div class="empty">No updates yet!</div>
        {% endfor %}
    </div>
    </div>
{% endmacro %}


