{% macro month(calendar) %}
    <div class="calendar-widget">
        <h4>{{ calendar.currentMonth.format('F') }}</h4>
        <table class="">
            <tr class="day-name">
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
                <th>Sun</th>
            </tr>
            {% for week in calendar.currentMonth %}
                <tr>
                    {% for day in week %}
                        {% if calendar.currentMonth.contains(day.begin) %}
                            <td class="calendar-day {% if calendar.currentEvents.has(day) %}active{% endif %} {% if "now"|date("m/d") == day.begin.format('m/d') %}today{% endif %} {% if "now"|date("Y-m-d") > day.begin|date("Y-m-d") %}past{% endif %}"><a href="#" rel="tooltip" date="{{ day.begin.format('Y-m-d') }}" title="{% if calendar.currentEvents.has(day) %}{{ calendar.getEventText(day) }} {% endif %}">{{ day.begin.format('d') }}</a></td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}

        </table>
    </div>
{% endmacro %}


{% macro topMenu(selected, course) %}
    <ul>
        <li{{ selected == 'feed' ? ' class="active"' : '' }}><a href="{{ path('course_feed', {id: course.id}) }}">Feed</a></li>
        {% if app.user.isTeacher %}
            <li{{ selected == 'attendance' ? ' class="active"' : '' }}><a href="{{ path('course_attendance', {id: course.id}) }}">Attendance</a></li>
        {% endif %}
        <li{{ selected == 'assignments' ? ' class="active"' : '' }}><a href="{{ path('course_assignments', {id: course.id}) }}">Assignments</a></li>
        <li{{ selected == 'details' ? ' class="active"' : '' }}><a href="{{ path('course_view', {id: course.id}) }}">Details</a></li>
        {% if app.user.isTeacher %}
            <li{{ selected == 'grading' ? ' class="active"' : '' }}><a href="{{ path('course_grading', {id: course.id}) }}">Grading</a></li>
        {% endif %}
        <li{{ selected == 'materials' ? ' class="active"' : '' }}><a href="{{ path('course_materials', {courseId: course.id}) }}">Syllabus</a></li>
        <li{{ selected == 'members' ? ' class="active"' : '' }}><a href="{{ path('course_members', {id: course.id}) }}">Members</a></li>
    </ul>
{% endmacro %}

{% macro teacherShortInfo(teacher) %}
<div class="teacher-profile-widget">
    <h4>Teacher profile</h4>
    <ul>
        <li>
            <a href="#" >{{ teacher.getUser.getFirstName }} {{ teacher.getUser.getLastName }}</a>
            <img class="rounded pull-right" src="{{ user_avatar(teacher) | imagine_filter('thumbnail') }}"/>
            <br/><a href="#">email: {{ teacher.getUser.getEmail }}</a>
            <div class="clearfix"></div>
        </li>
        <li>
            <a href="#" class="btn">Send message</a>
        </li>
    </ul>
</div>
{% endmacro %}

{% macro upcomingAssignments(assignments) %}
<div class="upcoming-assignments-widget">
    <h4>Upcoming assignments</h4>
    {% if assignments.count > 0 %}
        <ul>
        {% for assignment in assignments %}
            <li><span class="label label-info">{{ assignment.assignmentCategory.name }}</span> <a href="{{ path('assignment_view', {id: assignment.id}) }}">{{ assignment.name }}</a> <span class="new">(Due {{ time_diff(assignment.dueAt) }})</span></li>
        {% endfor %}
        </ul>
    {% else %}
        <div class="alert alert-success">There are no pending assignments in the next 2 weeks.</div>
    {% endif %}
    <div class="clearfix"></div>
</div>
{% endmacro %}

{% macro recentMaterials(materials) %}
    <h4>Recent materials</h4>
    {% if materials.count > 0 %}
    <ul>
        {% for material in materials %}
            <li><a href="{{ path('download_file', {id: material.file.id}) }}"><img src="{{ get_file_icon(material.file, 'small') }}"/>{{ material.file.name }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
        <div class="alert alert-success">There were no materials published</div>
    {% endif %}
{% endmacro %}

{% macro courseSchedule(course) %}
    {% if course.start or course.end or course.getCourseScheduleDays.count %}
        <div class="timetable">
            {% if course.start or course.end %}
                <div class="duration span4"><i class="icon-small-calendar"></i> {% if course.start %}<b>Start:</b> {{ course.start | date('d/m') }} &nbsp;&nbsp;{% endif %} {% if course.end %}<b>End:</b> {{ course.end | date('d/m') }}{% endif %}</div>
            {% endif %}
            <div class="time span8">
                {% if course.getCourseScheduleDays|length %}
                    <i class="icon-small-clipboard pull-left"></i>
                {% endif %}
                <ul>
                    {% for schedule in course.getCourseScheduleDays %}
                        <li><b>{{ schedule.getWeekDay|slice(0, 3) }}:</b> {{ schedule.getTimeFrom|date('h:i a') }} - {{ schedule.getTimeTo|date('h:i a') }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro grade(studentAssignment, assignment) %}
    {% if assignment.gradeType == 'numeric' %}
        <h4>Grading: {{ studentAssignment.grading }}</h4>
        {% if assignment.threshold <= studentAssignment.grading %}
            <span class="label label-success">Completed</span>
        {% else %}
            <span class="label label-important">Incomplete</span>
        {% endif %}
    {% else %}
        <h4>Grading</h4>
        {% if studentAssignment.grading == 1 %}
            <span class="label label-success">Completed</span>
        {% else %}
            <span class="label label-important">Incomplete</span>
        {% endif %}
    {% endif %}

    {% if studentAssignment.gradingComment %}
    <a href="#" rel="tooltip" title="{{ studentAssignment.gradingComment }}"><i class="info-icon icon-small-info"></i></a>
    {% endif %}
{% endmacro %}