{% macro month(calendar) %}
    <div class="calendar-widget">
        <h4>{{ calendar.currentMonth.format('F') }}</h4>
        <table class="">
            <tr class="day-name">
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
                <th>Sun</th>
            </tr>
            {% for week in calendar.currentMonth %}
                <tr>
                    {% for day in week %}
                        {% if calendar.currentMonth.contains(day.begin) %}
                            <td class="{% if calendar.currentEvents.has(day) %}active{% endif %} {% if "now"|date("m/d") == day.begin.format('m/d') %}today{% endif %}"><a href="#" rel="tooltip" title="{% if calendar.currentEvents.has(day) %}{{ calendar.getEventText(day) }} {% endif %}">{{ day.begin.format('d') }}</a></td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}

        </table>
    </div>
{% endmacro %}


{% macro topMenu(selected, course) %}
    <ul>
        <li{{ selected == 'feed' ? ' class="active"' : '' }}><a href="#">Feed</a></li>
        <li{{ selected == 'assignments' ? ' class="active"' : '' }}><a href="{{ path('course_assignments', {id: course.id}) }}">Assignments</a></li>
        <li{{ selected == 'details' ? ' class="active"' : '' }}><a href="{{ path('course_view', {id: course.id}) }}">Details</a></li>
        <li{{ selected == 'materials' ? ' class="active"' : '' }}><a href="#">Materials</a></li>
        <li{{ selected == 'members' ? ' class="active"' : '' }}><a href="{{ path('course_members', {id: course.id}) }}">Members</a></li>
    </ul>
{% endmacro %}