{% macro month(calendar) %}
    <div class="calendar-widget" xmlns="http://www.w3.org/1999/html">
        <h4>{{ calendar.currentMonth.format('F') }}</h4>
        <table class="">
            <tr class="day-name">
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
                <th>Sun</th>
            </tr>
            {% for week in calendar.currentMonth %}
                <tr>
                    {% for day in week %}
                        {% if calendar.currentMonth.contains(day.begin) %}
                            <td class="calendar-day {% if calendar.currentEvents.has(day) %}active{% endif %} {% if "now"|date("m/d") == day.begin.format('m/d') %}today{% endif %} {% if "now"|date("Y-m-d") > day.begin|date("Y-m-d") %}past{% endif %}"><a href="#" rel="tooltip" date="{{ day.begin.format('Y-m-d') }}" title="{% if calendar.currentEvents.has(day) %}{{ calendar.getEventText(day) }} {% endif %}">{{ day.begin.format('d') }}</a></td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}

        </table>
    </div>
{% endmacro %}

{% macro guardianChildrenSelect() %}
    {% set children = app.user.guardian.students %}
    {% if children|length > 0 %}
    <ul class="nav menu span3 pull-right selected-child-toggle">
        {% set selectedChild = app.user.guardian.selectedChild(app.session.get('selectedChildId')) %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img width="27" height="27" src="{{ user_avatar(selectedChild.user) | imagine_filter('top_thumbnail') }}" /> &nbsp; {{ selectedChild.user.firstName }} {{ selectedChild.user.lastName }} &nbsp; <b class="caret"></b></a>
            </a>
            <ul class="dropdown-menu">
                {% for child in children %}
                    {% if child.id != selectedChild.id %}
                        <li><a href="{{ path('guardian_set_child', { childId: child.id }) }}"><img src="{{ user_avatar(child.user) | imagine_filter('top_thumbnail') }}" class="img-rounded" /> {{ child.user.firstName }} {{ child.user.lastName }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if children|length > 1 %}
                <li class="divider"></li>
                {% endif %}
                <li><a href="#"><img src="{{ user_avatar(selectedChild.user) | imagine_filter('top_thumbnail') }}" class="img-rounded" /> {{ selectedChild.user.firstName }}'s profile</a></li>
            </ul>
        </li>
    </ul>
    {% endif %}
{% endmacro %}


{% macro topMenu(selected, course) %}
    <ul>
        <li{{ selected == 'feed' ? ' class="active"' : '' }}><a href="{{ path('course_feed', {id: course.id}) }}">Feed</a></li>
        {% if app.user.isTeacher %}
            <li{{ selected == 'attendance' ? ' class="active"' : '' }}><a href="{{ path('course_attendance', {id: course.id}) }}">Attendance</a></li>
        {% endif %}
        <li{{ selected == 'assignments' ? ' class="active"' : '' }}><a href="{{ path('course_assignments', {id: course.id}) }}">Assignments</a></li>
        <li{{ selected == 'details' ? ' class="active"' : '' }}><a href="{{ path('course_view', {id: course.id}) }}">Details</a></li>
        {% if app.user.isTeacher %}
            <li{{ selected == 'grading' ? ' class="active"' : '' }}><a href="{{ path('course_grading', {id: course.id}) }}">Grading</a></li>
        {% endif %}
        <li{{ selected == 'materials' ? ' class="active"' : '' }}><a href="{{ path('course_materials', {courseId: course.id}) }}">Syllabus</a></li>
        <li{{ selected == 'members' ? ' class="active"' : '' }}><a href="{{ path('course_members', {id: course.id}) }}">Members</a></li>
    </ul>
{% endmacro %}

{% macro guardianTopMenu(selected) %}
    <ul>
        <li{{ selected == 'summary' ? ' class="active"' : '' }}><a href="{{ path('guardian_summary') }}">Summary</a></li>
        <li{{ selected == 'grading' ? ' class="active"' : '' }}><a href="{{ path('guardian_grading') }}">Grading</a></li>
        <li{{ selected == 'attendance' ? ' class="active"' : '' }}><a href="{{ path('guardian_attendance') }}">Attendance</a></li>
        <li{{ selected == 'classes' ? ' class="active"' : '' }}><a href="{{ path('guardian_classes') }}">Classes</a></li>
        <li{{ selected == 'guardians' ? ' class="active"' : '' }}><a href="#">Parents</a></li>
    </ul>
{% endmacro %}

{% macro teacherShortInfo(teacher) %}
<div class="teacher-profile-widget">
    <h4>Teacher profile</h4>
    <ul>
        <li>
            <a href="#" >{{ teacher.getUser.getFirstName }} {{ teacher.getUser.getLastName }}</a>
            <img class="rounded pull-right" src="{{ user_avatar(teacher) | imagine_filter('thumbnail') }}"/>
            <br/><a href="#">email: {{ teacher.getUser.getEmail }}</a>
            <div class="clearfix"></div>
        </li>
        <li>
            <a href="#" class="btn" userId="{{ teacher.getUser.id }}" rel="message-popup">Send message</a>
        </li>
    </ul>
</div>

{% include "ZerebralFrontendBundle:Message:composePopup.html.twig" %}
{% endmacro %}

{% macro upcomingAssignments(assignments) %}
<div class="upcoming-assignments-widget">
    <h4>Upcoming assignments</h4>
    {% if assignments.count > 0 %}
        <ul>
        {% for assignment in assignments %}
            <li><span class="label label-info">{{ assignment.assignmentCategory.name }}</span> <a href="{{ path('assignment_view', {id: assignment.id}) }}">{{ assignment.name }}</a> <span class="new">(Due {{ time_diff(assignment.dueAt) }})</span></li>
        {% endfor %}
        </ul>
    {% else %}
        <div class="alert alert-success">There are no pending assignments in the next 2 weeks.</div>
    {% endif %}
    <div class="clearfix"></div>
</div>
{% endmacro %}

{% macro recentMaterials(materials) %}
    <h4>Recent materials</h4>
    {% if materials.count > 0 %}
    <ul>
        {% for material in materials %}
            <li><a href="{{ path('download_file', {id: material.file.id}) }}"><img src="{{ get_file_icon(material.file, 'small') }}"/>{{ material.file.name }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
        <div class="alert alert-success">There were no materials published</div>
    {% endif %}
{% endmacro %}

{% macro courseSchedule(course) %}
    {% if course.start or course.end or course.getCourseScheduleDays.count %}
        <div class="timetable">
            {% if course.start or course.end %}
                <div class="duration span4"><i class="icon-small-calendar"></i> {% if course.start %}<b>Start:</b> {{ course.start | date('d/m') }} &nbsp;&nbsp;{% endif %} {% if course.end %}<b>End:</b> {{ course.end | date('d/m') }}{% endif %}</div>
            {% endif %}
            <div class="time span8">
                {% if course.getCourseScheduleDays|length %}
                    <i class="icon-small-clipboard pull-left"></i>
                {% endif %}
                <ul>
                    {% for schedule in course.getCourseScheduleDays %}
                        <li><b>{{ schedule.getWeekDay|slice(0, 3) }}:</b> {{ schedule.getTimeFrom|date('h:i a') }} - {{ schedule.getTimeTo|date('h:i a') }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% else %}
        <br />
    {% endif %}
{% endmacro %}

{% macro grade(studentAssignment, assignment) %}
    {% if assignment.gradeType == 'numeric' %}
        <h4 class="text-center" {% if assignment.threshold %}rel="tooltip" title="Threshold: {{ assignment.threshold }}"{% endif %}>Grading: {{ studentAssignment.grading }}</h4>
        {% if assignment.threshold <= studentAssignment.grading %}
            <span class="label label-success">Completed</span>
        {% else %}
            <span class="label label-important">Incomplete</span>
        {% endif %}
    {% else %}
        <h4 class="text-center">Grading</h4>
        {% if studentAssignment.grading == 1 %}
            <span class="label label-success">Completed</span>
        {% else %}
            <span class="label label-important">Incomplete</span>
        {% endif %}
    {% endif %}

    {% if studentAssignment.gradingComment %}
    <a href="#" rel="tooltip" title="{{ studentAssignment.gradingComment }}"><i class="info-icon icon-small-info"></i></a>
    {% endif %}
{% endmacro %}

{% macro filesList(files) %}
    <ul>
    {% for file in files %}
        <li class="file">
            <img class="icon" src="{{ get_file_icon(file) }}" />
            <a class="link" href="{{ path('download_file', {id: file.id}) }}">{{ file.name }}</a><br >
            <span class="size">{{ file.size | bytes_to_human }}</span>
        </li>
    {% endfor %}
    </ul>
{% endmacro %}

{% macro assignmentItem(assignment, loop, type, course) %}
    {% set badgeClass = '' %}
    {% if assignment.hasVirtualColumn('completedCount') %}
        {% if assignment.getVirtualColumn('completedCount') == 0 %}
            {% set badgeClass = '' %}
        {% elseif  assignment.getVirtualColumn('studentsCount') - assignment.getVirtualColumn('completedCount') > 0%}
            {% set badgeClass = 'warning' %}
        {% elseif  assignment.getVirtualColumn('studentsCount') == assignment.getVirtualColumn('completedCount') %}
            {% set badgeClass = 'success' %}
        {% endif %}
    {% endif %}
    <div class="list-item span12{{ loop.last ? ' last' : '' }}" {% if assignment.dueAt %}due-date="{{ assignment.dueAt | date('Y-m-d') }}"{% endif %}>
        <div class="symbol pull-left">
        {% if is_granted('ROLE_STUDENT') %}
            <img class="rounded" src="{{ user_avatar(assignment.teacher) | imagine_filter('thumbnail') }}"/>
        {% else %}
            <div class="rounded count-badge {{ badgeClass }}">
            {% if type is defined and type == 'draft' %}
                -
            {% elseif assignment.hasVirtualColumn('completedCount') %}
                {{ assignment.getVirtualColumn('completedCount') }}
            {% endif %}
            </div>
            {% endif %}
         </div>
        <div class="details pull-left">
            {% if is_granted('ROLE_TEACHER') %}
                <i class="manage-buttons-gears icon-small-gears"></i>
                <div class="manage-buttons invisible">
                    {% if is_granted('EDIT', assignment) %}<a href="{{ path('assignment_edit', {id: assignment.id, courseId: assignment.course.id}) }}"><i class="icon-small-pencil"></i>Edit</a>{% endif %}
                    {% if course %}
                        {% if is_granted('DELETE', assignment) %}<a href="{{ path('course_assignment_delete', {id: assignment.id, courseId: course.id}) }}" class="delete-confirm"><i class="icon-small-trash-bin"></i>Delete</a>{% endif %}
                    {% else %}
                        {% if is_granted('DELETE', assignment) %}<a href="{{ path('assignment_delete', {id: assignment.id}) }}" class="delete-confirm"><i class="icon-small-trash-bin"></i>Delete</a>{% endif %}
                    {% endif %}
                </div>
            {% endif %}
            {% if course %}
                <h4><a href="{{ path('assignment_view', {id: assignment.id}) }}">{{ assignment.name }}</a></h4>
            {% else %}
                <h4><a class="course" href="{{ path('course_view', {id: assignment.courseId}) }}">{{ assignment.course.name }}</a> <span class="arrow">&#8594;</span> <a href="{{ path('assignment_view', {id: assignment.id}) }}">{{ assignment.name }}</a></h4>
            {% endif %}

            <div class="stat">
                {% if is_granted('ROLE_STUDENT') %}
                    <div class="instructor-name">Instructor <b>{{ assignment.teacher.fullName }}</b></div>
                    {% if assignment.dueAt %}<div class="due-at"><i class="icon-small-clock"></i> Due <small>{{ assignment.dueAt | date('Hi') == '0000' ? assignment.dueAt | date('D, M d') : assignment.dueAt | date('D, M d h:i a') }}</small></div>{% endif %}
                    <div><span class="badge">{{ assignment.hasVirtualColumn('commentsCount') ? assignment.getVirtualColumn('commentsCount') : '-' }}</span><a href="{{ path('assignment_view', {id: assignment.id}) }}#assignmentFeed">Comments</a></span></div>
                {% else %}
                    {% if assignment.dueAt %}<div class="due-at"><i class="icon-small-clock"></i> Due <small>{{ assignment.dueAt | date('Hi') == '0000' ? assignment.dueAt | date('D, M d') : assignment.dueAt | date('D, M d h:i a') }}</small></div>{% endif %}
                    {#<div><span class="badge">{{ assignment.students.count }}</span><a href="">Assignments</a></div>#}
                    <div><span class="badge">{{ assignment.hasVirtualColumn('completedCount') ? assignment.getVirtualColumn('completedCount') : '-' }}</span><a href="">Completed</a></div>
                    <div><span class="badge badge-inverse">{{ assignment.hasVirtualColumn('remainingCount') ? assignment.getVirtualColumn('remainingCount') : '-' }}</span><a href="">Remaining</a></div>
                {% endif %}
            </div>
        </div>
        {% if is_granted('ROLE_STUDENT') %}
            {% if assignment.studentAssignments[0].grading is not null%}
                <div class="grade pull-right">
                    {{ _self.grade(assignment.studentAssignments[0], assignment) }}
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endmacro %}

{% macro attendanceDateRangeName(startDate, endDate, isMonthRange) %}
    {% if startDate == ("now"|strtotime("Monday this week")|date('Y-m-d')) and endDate == ("now"|strtotime("Sunday this week")|date('Y-m-d')) %}
        Current week
    {% elseif startDate == ("now"|strtotime("Monday previous week")|date('Y-m-d')) and endDate == ("now"|strtotime("Sunday previous week")|date('Y-m-d')) %}
        Last week
    {% elseif startDate == ("now"|strtotime("first day of this month")|date('Y-m-d')) and endDate == ("now"|strtotime("last day of this month")|date('Y-m-d')) %}
        Current month
    {% elseif startDate == ("now"|strtotime("first day of -1 month")|date('Y-m-d')) and endDate == ("now"|strtotime("last day of -1 month")|date('Y-m-d')) %}
        Last month
    {% else %}
        {% if isMonthRange %}
            {{ startDate | date('F, Y') }}
        {% else %}
            {{ startDate | date('M d, Y') ~ ' - ' ~ endDate | date('M d, Y')}}
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro gradePopoverTitle(assignment, studentAssignment) %}
    Grade:
    {% if assignment.gradeType == 'numeric' %}
        {{ studentAssignment.grading  }}
        {% if studentAssignment.grading >= assignment.threshold %}
            <span class="label label-success">completed</span>
        {% else %}
            <span class="label label-important">incomplete</span>
        {% endif %}
    {% else %}
        {{ studentAssignment.grading is sameas('0') ? '<span class="label label-important">incomplete</span>' : '<span class="label label-success">completed</span>' }}
    {% endif %}
    <img class="pull-right rounded" width="27" height="27" src="{{ user_avatar(assignment.teacher.user) | imagine_filter('top_thumbnail') }}"/>
{% endmacro %}