{% macro month(calendar) %}
    <div class="calendar-widget">
        <h4>{{ calendar.currentMonth.format('F') }}</h4>
        <table class="">
            <tr class="day-name">
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
                <th>Sun</th>
            </tr>
            {% for week in calendar.currentMonth %}
                <tr>
                    {% for day in week %}
                        {% if calendar.currentMonth.contains(day.begin) %}
                            <td class="{% if calendar.currentEvents.has(day) %}active{% endif %} {% if "now"|date("m/d") == day.begin.format('m/d') %}today{% endif %}"><a href="#" rel="tooltip" title="{% if calendar.currentEvents.has(day) %}{{ calendar.getEventText(day) }} {% endif %}">{{ day.begin.format('d') }}</a></td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}

        </table>
    </div>
{% endmacro %}


{% macro topMenu(selected, course) %}
    <ul>
        <li{{ selected == 'feed' ? ' class="active"' : '' }}><a href="#">Feed</a></li>
        <li{{ selected == 'assignments' ? ' class="active"' : '' }}><a href="{{ path('course_assignments', {id: course.id}) }}">Assignments</a></li>
        <li{{ selected == 'details' ? ' class="active"' : '' }}><a href="{{ path('course_view', {id: course.id}) }}">Details</a></li>
        <li{{ selected == 'materials' ? ' class="active"' : '' }}><a href="#">Materials</a></li>
        <li{{ selected == 'members' ? ' class="active"' : '' }}><a href="{{ path('course_members', {id: course.id}) }}">Members</a></li>
    </ul>
{% endmacro %}

{% macro teacherShortInfo(teacher) %}
<div class="teacher-profile-widget">
    <h4>Teacher profile</h4>
    <ul>
        <li>
            <a href="#" >{{ teacher.getUser.getFirstName }} {{ teacher.getUser.getLastName }}</a>
            <img class="rounded pull-right" src="{{ get_file_storage_link(teacher.getUser.getAvatar()) | imagine_filter('thumbnail') }}"/>
            <br/><a href="#">email: {{ teacher.getUser.getEmail }}</a>
            <div class="clearfix"></div>
        </li>
        <li>
            <a href="#" class="btn">Send message</a>
        </li>
    </ul>
</div>
{% endmacro %}

{% macro upcomingAssignments(assignments) %}
<div class="upcoming-assignments-widget">
    <h4>Upcoming assignments</h4>
    {% if assignments.count > 0 %}
        <ul>
        {% for assignment in assignments %}
            <li><span class="label label-info">{{ assignment.assignmentCategory.name }}</span> <a href="{{ path('assignment_view', {id: assignment.id}) }}">{{ assignment.name }}</a> <span class="new">(Due {{ time_diff(assignment.dueAt) }})</span></li>
        {% endfor %}
        </ul>
    {% else %}
        <div class="alert alert-success">There are no pending assignments in the next 2 weeks.</div>
    {% endif %}
    <div class="clearfix"></div>
</div>
{% endmacro %}